{% extends 'admin/admin.twig' %}

{% import 'macros/forms.twig' as forms %}

{% block content %}
    <form action="{{ form.getAction() }}" method="post">
        {{ csrf_token() }}
        {{ forms.element_input(form.title) }}
        {{ forms.element_checkbox(form.time_enabled) }}
        {{ forms.element_input(form.time) }}
        {{ forms.element_checkbox(form.overall) }}
        {{ forms.element_checkbox(form.menu) }}
        {{ forms.element_checkbox(form.active) }}
        <div class="form-group">
            {% if create %}
                <input type="submit" class="btn btn-primary hvr-grow" value="{{ trans('buttons', 'create') }}">
            {% else %}
                <input type="submit" class="btn btn-primary hvr-grow" value="{{ trans('buttons', 'update') }}">
            {% endif %}
            <a href="{{ path_for('admin_servers_reasons_list', {'server': server.id}) }}" class="btn btn-secondary hvr-grow">
                {{ trans('buttons', 'cancel') }}
            </a>
        </div>
    </form>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function () {
        $('#reason-time-enabled').on('change', function (e) {
            $('#reason-time').prop('disabled', !this.checked);
        });
    });
</script>
{% endblock %}
