{% extends 'admin/admin.twig' %}

{% import 'macros/admin.twig' as admin %}
{% import 'macros/paginator.twig' as paginator %}

{% block content %}
<div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
	<div class="uk-overflow-auto">
		<table class="uk-table uk-table-divider">
			<thead>
				<tr>
					<th>Title</th>
					<th>Time</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
			{% for reason in reasons %}
				<tr>
					<td class="text-nowrap">{{ reason.title }}</td>
					<td class="text-nowrap">
						{% if reason.time is null %}
							Not setted
						{% else %}
							{{ reason.time }} minutes
						{% endif %}
					</td>
					<td class="text-nowrap">
                        {{ admin.edit_btn(path_for('admin_servers_reasons_edit', {'server': server.id, 'reason': reason.id})) }}
                        {{ admin.delete_btn(path_for('admin_servers_reasons_delete', {'server': server.id, 'reason': reason.id})) }}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	{{ paginator.render(pagination) }}
	<a href="{{ path_for('admin_servers_reasons_create', {'server': server.id}) }}" class="uk-button uk-button-primary">
		{{ trans('buttons', 'create') }}
	</a>
	<a href="{{ path_for(constants.admin.servers.ROUTE_LIST) }}" class="uk-button uk-button-secondary">
		{{ trans('buttons', 'cancel') }}
	</a>
</div>
{% endblock %}
