{% extends 'admin/admin.twig' %}

{% import 'macros/admin.twig' as admin %}
{% import 'macros/paginator.twig' as paginator %}

{% block subnav %}
    {{ admin.add_btn(path_for(constants.admin.players.ROUTE_CREATE), 'l') }}
{% endblock %}

{% block content %}
<div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
    <form action="{{ path_for(constants.admin.players.ROUTE_LIST) }}" method="get">
        <div class="uk-button-group uk-width-1-2@m">
        <input class="uk-input uk-width-3-4" type="text" name="filter" value="{{ filter }}">
            <div class="uk-inline">
                 <button type="submit" class="uk-button uk-button-secondary"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </form>
    <div class="uk-overflow-auto">
        <table class="uk-table uk-table-divider">
            <thead>
                <tr>
                    <th>Steam ID</th>
                    <th>Nickname</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for player in players %}
                <tr>
                    <td class="text-nowrap">{{ player.steamid }}</td>
                    <td class="text-nowrap">{{ player.nick }}</td>
                    <td class="text-nowrap">
                        {% embed "admin/actions.twig" with {'actionId': role.id} %}
                            {% block actions %}
                                <a
                                    href="{{ path_for(constants.admin.privileges.ROUTE_LIST, {
                                        'player': player.id
                                    }) }}"
                                    class="dropdown-item"
                                >
                                    <span class="oi oi-people"></span> Privileges
                                </a>
                            {% endblock %}
                        {% endembed %}

                        {{ admin.edit_btn(
                            path_for(constants.admin.players.ROUTE_EDIT, {
                                'player': player.id
                            })
                        ) }}
                        {{ admin.delete_btn(
                            path_for(constants.admin.players.ROUTE_DELETE, {
                                'player': player.id
                            })
                        ) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
	{{ paginator.render(pagination) }}
</div>
{% endblock %}
