{% extends 'admin/admin.twig' %}

{% import 'macros/admin.twig' as admin %}
{% import 'macros/punishments.twig' as punishments %}

{% block title %}{{ parent() }} | {{ trans('admin_menu', 'players') }} | {{ player.nick }}{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/tables.css" />
{% endblock %}

{% block subnav %}
    {% if has_access_permission(
        constants.admin.players.PERMISSION_GROUP,
        constants.admin.players.PERMISSION_KEY,
        permissions.ACCESS_VIEW
    ) %}
        <div class="uk-float-left">
            {{ admin.back_btn(path_for(constants.admin.players.ROUTE_VEW, {'player': players.id}), 'l') }}
        </div>
    {% endif %}

    {% if has_access_resource(
        constants.admin.punishments.PERMISSION_GROUP,
        constants.admin.punishments.PERMISSION_KEY,
        punishment.server_id,
        permissions.ACCESS_EDIT
    ) %}
        {{ admin.edit_btn(path_for(constants.admin.punishments.ROUTE_EDIT, {
            'player': player.id,
            'punishment': punishment.id,
        }), 'l') }}
    {% endif %}

    {% if has_access_permission(
        constants.admin.punishments.PERMISSION_GROUP,
        constants.admin.punishments.PERMISSION_KEY,
        punishment.server_id,
        permissions.ACCESS_DELETE
    ) %}
        {{ admin.delete_btn(path_for(constants.admin.punishments.ROUTE_DELETE, {
            'player': player.id,
            'punishment': punishment.id,
        }), 'l') }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
        <div class="uk-card uk-card-secondary uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
            <div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">{{ player.nick }}</h3>
                    <div f-table f-divider>
                        <ul>
                            <li class="uk-width-1-2@m uk-width-1-2@s uk-visible@s">Punisher</li>
                            <li class="uk-width-1-2@m uk-width-1-2@s uk-visible@s">{{ punishments.punisher(punishment) }}</li>
                        </ul>
                        <ul>
                            <li class="uk-width-1-2@m uk-width-1-2@s uk-visible@s">Server</li>
                            <li class="uk-width-1-2@m uk-width-1-2@s uk-visible@s">{{ punishments.server(punishment) }}</li>
                        </ul>
                        <ul>
                            <li class="uk-width-1-2@m uk-width-1-2@s uk-visible@s">Type</li>
                            <li class="uk-width-1-2@m uk-width-1-2@s uk-visible@s">{{ punishments.type(punishment) }}</li>
                        </ul>
                        <ul>
                            <li class="uk-width-1-2@m uk-width-1-2@s uk-visible@s">Reason</li>
                            <li class="uk-width-1-2@m uk-width-1-2@s uk-visible@s">{{ punishments.reason(punishment) }}</li>
                        </ul>
                        <ul>
                            <li class="uk-width-1-2@m uk-width-1-2@s uk-visible@s">Comment</li>
                            <li class="uk-width-1-2@m uk-width-1-2@s uk-visible@s">{{ punishments.comment(punishment) }}</li>
                        </ul>
                        <ul>
                            <li class="uk-width-1-2@m uk-width-1-2@s uk-visible@s">Status</li>
                            <li class="uk-width-1-2@m uk-width-1-2@s uk-visible@s">{{ punishments.status(punishment) }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
