{% extends 'admin/admin.twig' %}

{% import 'macros/admin.twig' as admin %}

{% block content %}
<div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
    <div class="uk-overflow-auto">
        <table class="uk-table uk-table-divider">
            <thead>
                <tr>
                    <th>{{ trans('admin_menu', 'name') }}</th>
                    <th>{{ trans('admin_menu', 'role') }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for role in roles %}
            <tr>
                <td class="text-nowrap">{{ role.name }}</td>
                <td class="text-nowrap">{{ role.slug }}</td>
                <td class="text-nowrap">
                    {{ admin.edit_btn(path_for('admin_roles_edit', {'role': role.id})) }}
                    {{ admin.delete_btn(path_for('admin_roles_delete', {'role': role.id})) }}

                    {% embed "admin/actions.twig" with {'actionId': role.id} %}
                        {% block actions %}
                            <li>
                                <a href="{{ path_for('admin_roles_users', {'role': role.id}) }}" class="dropdown-item">
                                    <span class="uk-margin-small-right" uk-icon="icon: users"></span> {{ trans('admin_menu', 'users') }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path_for('admin_role_permissions', {'role': role.id}) }}" class="dropdown-item">
                                    <span class="uk-margin-small-right" uk-icon="icon: lock"></span> {{ trans('admin_menu', 'permissions') }}
                                </a>
                            </li>
                        {% endblock %}
                    {% endembed %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ path_for('admin_roles_create') }}" class="btn btn-primary">{{ trans('buttons', 'create') }}</a>
</div>
{% endblock %}
