{% extends 'base.twig' %}

{% block content %}
<table class="table table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Slug</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for role in roles %}
    <tr>
        <td>{{ role.name }}</td>
        <td>{{ role.slug }}</td>
        <td>
            <a href="{{ path_for('admin_roles_users', {'role': role.id}) }}" class="btn btn-sm">
                <span class="oi oi-people"></span>
            </a>
            <a href="{{ path_for('admin_roles_permissions', {'role': role.id}) }}" class="btn btn-sm">
                <span class="oi oi-flash"></span>
            </a>
            <a href="{{ path_for('admin_roles_edit', {'role': role.id}) }}" class="btn btn-sm">
                <span class="oi oi-pencil"></span>
            </a>
            <form action="{{ path_for('admin_roles_delete', {'role': role.id}) }}" method="post" style="display: inline-block">
                {{ csrf_token() }}
                <button type="submit" class="btn btn-sm">
                    <span class="oi oi-delete"></span>
                </button>
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{{ path_for('admin_roles_create') }}" class="btn btn-primary">{{ trans('buttons', 'create') }}</a>
{% endblock %}
