{% extends 'base.twig' %}

{% block content %}
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Slug</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for role in roles %}
    <tr>
        <td>{{ role.name }}</td>
        <td>{{ role.slug }}</td>
        <td>
            <a href="{{ path_for('admin_roles_users', {'role': role.id}) }}" class="btn btn-small btn-floating">
                <i class="material-icons">format_list_bulleted</i>
            </a>
            <a href="{{ path_for('admin_roles_permissions', {'role': role.id}) }}" class="btn btn-small btn-floating">
                <i class="material-icons">apps</i>
            </a>
            <a href="{{ path_for('admin_roles_edit', {'role': role.id}) }}" class="btn btn-small btn-floating">
                <i class="material-icons">edit</i>
            </a>
            <form action="{{ path_for('admin_roles_delete', {'role': role.id}) }}" method="post" style="display: inline-block">
                {{ csrf_token() }}
                <button type="submit" class="btn btn-small btn-floating"><i class="material-icons">delete</i></button>
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{{ path_for('admin_roles_create') }}" class="btn">Create</a>
{% endblock %}
