{% extends 'admin/admin.twig' %}

{% import 'macros/admin.twig' as admin %}

{% block style %}
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/tables.css" />
{% endblock %}

{% block subnav %}
    {{ admin.add_btn(path_for('admin_roles_create'), 'l') }}
{% endblock %}

{% block content %}
<div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
    <div f-table f-divider>
        <ul th>
            <li class="uk-width-1-3@m uk-width-2-3@s uk-visible@s">{{ trans('admin_menu', 'name') }}</li>
            <li class="uk-width-1-6@m uk-visible@m"></li>
        </ul>
        {% for role in roles %}
            <ul>
                <li class="uk-width-1-3@m uk-width-2-3@s">{{ role.name }}</li>
                <li class="uk-width-1-6@m">
                    {{ admin.edit_btn(path_for('admin_roles_edit', {'role': role.id})) }}
                    {{ admin.delete_btn(path_for('admin_roles_delete', {'role': role.id})) }}

                    {% embed "admin/actions.twig" with {'actionId': role.id} %}
                        {% block actions %}
                            <li>
                                <a href="{{ path_for('admin_roles_users', {'role': role.id}) }}" class="dropdown-item">
                                    <i class="fas fa-users uk-margin-small-right"></i> {{ trans('admin_menu', 'users') }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path_for('admin_role_permissions', {'role': role.id}) }}" class="dropdown-item">
                                    <i class="fas fa-lock uk-margin-small-right"></i> {{ trans('admin_menu', 'permissions') }}
                                </a>
                            </li>
                        {% endblock %}
                    {% endembed %}
                </li>
            </ul>
        {% endfor %}
    </div>
</div>
{% endblock %}
