{% extends 'base.twig' %}

{% block content %}
    <form action="{{ form_action(form) }}" method="post">
        {{ csrf_token() }}
        <div class="row">
            <div class="input-field col s12">
                {{ form_label(form, 'test') }}
                {{ form_input(form, 'test') }}
                {{ form_error(form, 'test') }}
            </div>
        </div>
        <div class="row">
            <input type="submit" class="btn" value="Create">
            <a href="{{ path_for('admin_roles_list') }}" class="btn red">Cancel</a>
        </div>
    </form>
{% endblock %}
