{% extends 'base.twig' %}

{% block content %}
    <form action="{{ path_for('admin_roles_permissions', {'role': role.id}) }}" method="post">
        {{ csrf_token() }}
        <div class="form-group">
        {% for permission, title in permissions %}
            <div class="custom-control custom-checkbox">
                <input
                        type="checkbox"
                        class="custom-control-input"
                        name="permissions[{{ permission }}]"
                        value="1"
                        id="permission_{{ permission }}"
                        {% if role_has_access(role, permission) %}checked{% endif %}
                />
                <label class="custom-control-label" for="permission_{{ permission }}">{{ title }}</label>
            </div>
        {% endfor %}
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="{{ trans('buttons', 'save') }}">
            <a href="{{ path_for('admin_roles_list') }}" class="btn btn-secondary">
				{{ trans('buttons', 'cancel') }}
            </a>
        </div>
    </form>
{% endblock %}
