{% import 'macros/navbar.twig' as navbar %}
{% import 'macros/datetime.twig' as datetime %}
{% import 'macros/admin.twig' as admin %}
{% import 'macros/paginator.twig' as paginator %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ base_url() }}/assets/favicon.ico?v={{ version() }}">
    <title>{% block title %}{{ title }} | {{ trans('labels', 'admin_panel') }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/uikit.css" />
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/fontawesome.min.css" />
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/style.css?v={{ version() }}" />
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/tables.css?v={{ version() }}" />
    <script src="{{ base_url() }}/assets/js/jquery-3.3.1.min.js"></script>
    <script src="{{ base_url() }}/assets/js/uikit.js"></script>
    <script src="{{ base_url() }}/assets/js/datepicker.min.js"></script>
    <script src="{{ base_url() }}/assets/js/moment.min.js"></script>
    {% block style %}{% endblock %}
</head>
<body>

<div class="uk-container-expand admin">
    <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
        {{ navbar.adminbar(menu, adminmenu) }}
    </div>
</div>
<div class="uk-container admin">
    <main role="main" class="container">
        <div class="uk-position-center uk-hidden" id="spinner">
            <div uk-spinner="ratio: 5"></div>
        </div>
        <div class="uk-flex-middle uk-margin-medium-top uk-margin-small-bottom" uk-grid>
            {% if breadcrumbs is not empty %}
                <div class="uk-width-expand">
                    <ul class="uk-breadcrumb">
                        {% for breadcrumb in breadcrumbs %}
                            {% if loop.last %}
                                <li><span>{{ breadcrumb.title }}</span></li>
                            {% else %}
                                <li><a href="{{ breadcrumb.url }}">{{ breadcrumb.title }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="uk-width-1-4@m uk-flex-right">
                {% block subnav %}{% endblock %}
            </div>
        </div>

        {% for message in flash_messages.success %}
            <div class="uk-alert-success" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <h5>{{ message }}</h5>
            </div>
        {% endfor %}

        {% for message in flash_messages.error %}
            <div class="uk-alert-danger" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <h5>{{ message }}</h5>
            </div>
        {% endfor %}

        {% block content %}{% endblock %}
    </main>
    {% block modals %}{% endblock %}
    <script>
        window.CSRF_TOKEN = {{ csrf_token_json() }};
        window.MESSAGES = {
            saved: '{{ trans('labels', 'saved') }}',
            exception: '{{ trans('labels', 'exception') }}',
            delete: '{{ trans('buttons', 'delete') }}',
            cancel: '{{ trans('buttons', 'cancel') }}',
            are_you_sure: '{{ trans('labels', 'are_you_sure') }}'
        };
    </script>
    <script src="{{ base_url() }}/assets/scripts/main.js?v={{ version() }}"></script>
    {% block javascript %}{% endblock %}
</div>
</body>
</html>
