{% import 'macros/navbar.twig' as navbar %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ base_url() }}/assets/favicon.ico">
    <title>{% block title %}{{ title }} | {{ trans('labels', 'admin_panel') }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/uikit.css" />
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/fontawesome.min.css" />
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/style.css" />
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/tables.css" />
    <script src="{{ base_url() }}/assets/js/jquery-3.3.1.min.js"></script>
    <script src="{{ base_url() }}/assets/js/uikit.js"></script>
    {% block style %}{% endblock %}
</head>
<body>
<div class="uk-container-expand admin">
    <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
        {{ navbar.adminbar(menu, adminmenu) }}
    </div>
    {{ navbar.sidebar(adminmenu) }}
</div>
<div class="uk-container admin">
    <main role="main" class="container">
        <div class="uk-position-center uk-hidden" id="spinner">
            <div uk-spinner="ratio: 5"></div>
        </div>
        <div class="uk-margin uk-flex uk-flex-right">
            {% block subnav %}{% endblock %}
        </div>
        {% for message in flash_messages.success %}
            <div class="uk-alert-success" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <h5>{{ message }}</h5>
            </div>
        {% endfor %}

        {% for message in flash_messages.error %}
            <div class="uk-alert-danger" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <h5>{{ message }}</h5>
            </div>
        {% endfor %}

        {% if breadcrumbs is not empty %}
            <ul class="uk-breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    {% if loop.last %}
                        <li><span>{{ breadcrumb.title }}</span></li>
                    {% else %}
                        <li><a href="{{ breadcrumb.url }}">{{ breadcrumb.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}

        {% block content %}{% endblock %}
    </main>
    {% block modals %}{% endblock %}
    <script>
        window.CSRF_TOKEN = {{ csrf_token_json() }};
        window.MESSAGES = {
            saved: '{{ trans('labels', 'saved') }}',
            exception: '{{ trans('labels', 'exception') }}',
            delete: '{{ trans('buttons', 'delete') }}',
            cancel: '{{ trans('buttons', 'cancel') }}',
            are_you_sure: '{{ trans('buttons', 'are_you_sure') }}'
        };
    </script>
    <script src="{{ base_url() }}/assets/scripts/xhr.js"></script>
    <script src="{{ base_url() }}/assets/scripts/main.js"></script>
    <script src="{{ base_url() }}/assets/scripts/admin.js"></script>
    {% for style in assets_styles() %}
        <link rel="stylesheet" href="{{ base_url() }}{{ style }}">
    {% endfor %}
    {% for script in assets_scripts() %}
        <script src="{{ base_url() }}{{ script }}"></script>
    {% endfor %}
    {% block javascript %}{% endblock %}
</div>
</body>
</html>
