{% extends 'admin/admin.twig' %}
{% import 'macros/progress.twig' as progress %}

{% block title %}{{ title }} | {{ trans('labels', 'admin_panel') }} | {{ trans('labels', 'index') }}{% endblock %}

{% block content %}
<div class="uk-child-width-1-3@l uk-child-width-1-2@s uk-grid-small uk-grid-match" uk-grid>
	{% for item in adminmenu.getItems() if adminmenu.hasAccess(item) %}
		<div>
			<div class="uk-card uk-card-default uk-card-body">
				{% if item.getType() == 'item' %}
					<h3 class="uk-card-title main-title">
						<a href="{{ path_for(item.getRoute(), item.getParams()) }}">
							{% if item.getIcon() %}
								<i class="fas {{ item.getIcon() }} uk-margin-small-right"></i>
							{% endif %}
							{{ item.getTitle()|trim }}
						</a>
					</h3>
				{% elseif item.getType() == 'group' %}
					<h3 class="uk-card-title main-title">
						{% if item.getIcon() %}
							<i class="fas {{ item.getIcon() }} uk-margin-small-right"></i>
						{% endif %}
						{{ item.getTitle()|trim }}
					</h3>
					<div>
						<ul class="uk-nav uk-navbar-dropdown-nav">
							{% for subItem in item.getItems() if subItem.getType() == 'item' and adminmenu.hasAccess(subItem) %}
								<li>
									<a class="nav-link" href="{{ path_for(subItem.getRoute(), subItem.getParams()) }}">
										{% if subItem.getIcon() %}
											<i class="fas {{ subItem.getIcon() }} uk-margin-small-right"></i>
										{% endif %}
										{{ subItem.getTitle()|trim }}
									</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
			</div>
		</div>
	{% endfor %}
</div>
{% endblock %}
