{% extends 'admin/admin.twig' %}

{% block title %}{{ title }} | {{ trans('labels', 'admin_panel') }} | {{ trans('labels', 'index') }}{% endblock %}

{% block content %}
<div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
	<h1>GameX Admin Panel index</h1>
	<a href="{{ path_for(constants.admin.preferences.ROUTE_MAIN) }}">{{ trans('admin_menu', 'preferences') }}</a>
	<a href="{{ path_for(constants.admin.users.ROUTE_LIST) }}">{{ trans('admin_menu', 'users') }}</a>
	<a href="{{ path_for(constants.admin.roles.ROUTE_LIST) }}">{{ trans('admin_menu', 'roles') }}</a>
	<a href="{{ path_for(constants.admin.servers.ROUTE_LIST) }}">{{ trans('admin_menu', 'servers') }}</a>
	<a href="{{ path_for(constants.admin.players.ROUTE_LIST) }}">{{ trans('admin_menu', 'players') }}</a>
</div>
{% endblock %}
