{% extends 'admin/admin.twig' %}

{% block title %}{{ title }} | {{ trans('labels', 'admin_panel') }} | {{ trans('labels', 'index') }}{% endblock %}

{% block content %}
<div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
	<h1>GameX Admin Panel index</h1>
	<a href="{{ path_for(constants.admin.preferences.ROUTE_MAIN) }}">Preferences</a>
	<a href="{{ path_for(constants.admin.users.ROUTE_LIST) }}">Users</a>
	<a href="{{ path_for(constants.admin.roles.ROUTE_LIST) }}">Roles</a>
	<a href="{{ path_for(constants.admin.servers.ROUTE_LIST) }}">Server</a>
	<a href="{{ path_for(constants.admin.players.ROUTE_LIST) }}">Players</a>
</div>
{% endblock %}
