{% extends 'admin/admin.twig' %}

{% import 'macros/permissions.twig' as permissions %}

{% block style %}
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/tables.css" />
{% endblock %}

{% block content %}
    {# TODO: Remove this #}
    <style>
        .inputGroup label:before {
            background-color: #b6b6b4 !important;
        }
    </style>
    <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
        <form action="{{ form.getAction() }}" method="post">
            {{ csrf_token() }}
            <div f-table f-divider>
                <ul th uk-sticky="offset: 80" style="background: #263137;" class="uk-visible@s">
                    <li class="uk-width-expand">Permission</li>
                    <li class="uk-width-xxs"><i class="fas fa-list" uk-tooltip="Список"></i></li>
                    <li class="uk-width-xxs"><i class="fas fa-eye" uk-tooltip="Просмотр"></i></li>
                    <li class="uk-width-xxs"><i class="fas fa-plus" uk-tooltip="Добавление"></i></li>
                    <li class="uk-width-xxs"><i class="fas fa-marker" uk-tooltip="Редактирование"></i></li>
                    <li class="uk-width-xxs"><i class="fas fa-trash-alt" uk-tooltip="Удаление"></i></li>
                </ul>
                {% for key in list.admin.all %}
                    {{ permissions.permission_checkboxes(form, key) }}
                {% endfor %}
            </div>
                {% for serverId, serverName in servers %}
                <ul uk-accordion="multiple: true">
                    <li>
                        <a class="uk-accordion-title" href="#">{{ serverName }}</a>
                        <div class="uk-accordion-content">
                            <div f-table f-divider>
                                <ul th uk-sticky="offset: 80" style="background: #263137;" class="uk-visible@s">
                                    <li class="uk-width-expand">Permission</li>
                                    <li class="uk-width-xxs"><i class="fas fa-list" uk-tooltip="Список"></i></li>
                                    <li class="uk-width-xxs"><i class="fas fa-eye" uk-tooltip="Просмотр"></i></li>
                                    <li class="uk-width-xxs"><i class="fas fa-plus" uk-tooltip="Добавление"></i></li>
                                    <li class="uk-width-xxs"><i class="fas fa-marker" uk-tooltip="Редактирование"></i></li>
                                    <li class="uk-width-xxs"><i class="fas fa-trash-alt" uk-tooltip="Удаление"></i></li>
                                </ul>
                                {% for key in list.admin.server[serverId] %}
                                    {{ permissions.permission_checkboxes(form, key) }}
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                </ul>
                {% endfor %}
            <div class="form-group">
                {% if create %}
                    <input type="submit" class="uk-button uk-button-primary" value="{{ trans('buttons', 'create') }}">
                {% else %}
                    <input type="submit" class="uk-button uk-button-primary" value="{{ trans('buttons', 'update') }}">
                {% endif %}
                <a href="{{ path_for(constants.admin.roles.ROUTE_LIST) }}" class="uk-button uk-button-secondary">{{ trans('buttons', 'cancel') }}</a>
            </div>
        </form>
    </div>
{% endblock %}
