{% extends 'base.twig' %}

{% block content %}
	<div class="table-responsive">
		<form action="{{ path_for('punishments') }}" method="get">
			<input type="text" name="filter" value="{{ filter }}">
			<button type="submit"><span class="oi oi-magnifying-glass"></span></button>
		</form>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Player</th>
					<th>Punisher</th>
					<th>Type</th>
					<th>Reason</th>
					<th>Expired at</th>
				</tr>
			</thead>
			<tbody>
			{% for punishment in punishments %}
				<tr>
					<td class="text-nowrap">{{ punishment.player.nick }}</td>
					<td class="text-nowrap">
					{% if punishment.punisher_id %}
                        {{ punishment.punisher.nick }}
                    {% else %}
						{{ punishment.server.name }}
                    {% endif %}
					</td>
					<td class="text-nowrap">{{ punishment.type }}</td>
					<td class="text-nowrap">{{ punishment.reason.title }}</td>
					<td class="text-nowrap">{{ punishment.comment }}</td>
					{% if punishment.expired_at %}
						<td>{{ punishment.expired_at | date('d.m.Y H:i') }}</td>
                    {% else %}
						<td>Never</td>
                    {% endif %}
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
