{% extends 'base.twig' %}

{% block content %}
<div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
	<div class="uk-overflow-auto">
		<table class="uk-table uk-table-divider">
			<thead>
				<tr>
					<th>Player</th>
					<th>Punisher</th>
					<th>Type</th>
					<th>Reason</th>
					<th>Expired at</th>
				</tr>
			</thead>
			<tbody>
			{% for punishments in punishment %}
				<tr>
					<td class="text-nowrap">{{ punishment.player.nick }}</td>
					<td class="text-nowrap">{{ punishment.punisher.nick }}</td>
					<td class="text-nowrap">{{ punishment.type }}</td>
					<td class="text-nowrap">{{ punishment.reason }}</td>
					{% if punishment.expired_at == null %}
						<td>Never</td>
					{% else %}
						<td>{{ punishment.expired_at | date('d.m.Y H:i') }}</td>
					{% endif %}
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
