{% extends 'admin/admin.twig' %}

{% import 'macros/permissions.twig' as permissions %}

{% block style %}
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/tables.css" />
{% endblock %}

{% block content %}
    {# TODO: Remove this #}
    <style>
        .inputGroup label:before {
            background-color: #b6b6b4 !important;
        }
    </style>
    <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
        <form action="{{ form.getAction() }}" method="post">
            {{ csrf_token() }}
            <div f-table f-divider>
                <ul th uk-sticky="offset: 80" style="background: #263137;">
                    <li class="uk-width-expand"><h3>Admin</h3></li>
                    <li class="uk-width-xxs"><span uk-icon="list" uk-tooltip="Список"></span></li>
                    <li class="uk-width-xxs"><span uk-icon="search" uk-tooltip="Просмотр"></span></li>
                    <li class="uk-width-xxs"><span uk-icon="plus" uk-tooltip="Добавление"></span></li>
                    <li class="uk-width-xxs"><span uk-icon="pencil" uk-tooltip="Редактирование"></span></li>
                    <li class="uk-width-xxs"><span uk-icon="trash" uk-tooltip="Удаление"></span></li>
                </ul>
                {% for key in list.admin.all %}
                    {{ permissions.permission_checkboxes(form, key) }}
                {% endfor %}
                {% for serverId, serverName in servers %}
                    <ul th uk-sticky="offset: 80" style="background: #263137;">
                        <li class="uk-width-expand"><h3>{{ serverName }}</h3></li>
                    </ul>
                    {% for key in list.admin.server[serverId] %}
                        {{ permissions.permission_checkboxes(form, key) }}
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="form-group">
                {% if create %}
                    <input type="submit" class="uk-button uk-button-primary" value="{{ trans('buttons', 'create') }}">
                {% else %}
                    <input type="submit" class="uk-button uk-button-primary" value="{{ trans('buttons', 'update') }}">
                {% endif %}
                <a href="{{ path_for(constants.admin.roles.ROUTE_LIST) }}" class="uk-button uk-button-secondary">{{ trans('buttons', 'cancel') }}</a>
            </div>
        </form>
    </div>
{% endblock %}
