{% extends 'admin/admin.twig' %}

{% import 'macros/admin.twig' as admin %}
{% import 'macros/paginator.twig' as paginator %}

{% block title %}{{ parent() }} | {{ trans('admin_menu', 'servers') }} | {{ server.name }} | Groups{% endblock %}

{% block subnav %}
    {% if has_access_permission(
		constants.admin.servers.PERMISSION_GROUP,
		constants.admin.servers.PERMISSION_KEY,
		permissions.ACCESS_LIST
    ) %}
        {{ admin.back_btn(path_for(constants.admin.servers.ROUTE_LIST), 'l') }}
    {% endif %}

    {% if has_access_resource(
		constants.admin.groups.PERMISSION_GROUP,
		constants.admin.groups.PERMISSION_KEY,
		server.id,
		permissions.ACCESS_CREATE
    ) %}
        {{ admin.add_btn(path_for(constants.admin.groups.ROUTE_CREATE, {'server': server.id}), 'l') }}
    {% endif %}
{% endblock %}

{% block content %}
<div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
	<div f-table f-divider>
		<ul th>
			<li class="uk-width-1-6@m uk-width-1-6@s uk-visible@s"></li>
			<li class="uk-width-1-4@m uk-width-1-4@s uk-visible@s">{{ trans('admin_groups', 'group') }}</li>
			<li class="uk-width-1-4@m uk-width-1-4@s uk-visible@s">{{ trans('admin_groups', 'flags') }}</li>
			<li class="uk-width-1-6@m uk-width-1-6@s uk-visible@m"></li>
		</ul>
	</div>
	<div f-table f-divider uk-sortable="handle: .uk-sortable-handle">
		{% for group in groups %}
			<ul data-id="{{ group.id }}">
				<li class="uk-width-1-6@m uk-width-1-6@s" s-title="Priority">
					<span class="uk-sortable-handle"><i class="fas fa-sort"></i></span>
				</li>
				<li class="uk-width-1-4@m uk-width-1-4@s" s-title="Title">{{ group.title }}</li>
				<li class="uk-width-1-4@m uk-width-1-4@s" s-title="Flags">{{ get_flags(group.flags) }}</li>
				<li class="uk-width-1-6@m uk-width-1-6@s" s-title="Actions">
					{% if has_access_resource(
						constants.admin.groups.PERMISSION_GROUP,
						constants.admin.groups.PERMISSION_KEY,
						server.id,
						permissions.ACCESS_EDIT
					) %}
						{{ admin.edit_btn(
							path_for(constants.admin.groups.ROUTE_EDIT, {'server': server.id, 'group': group.id})
						) }}
					{% endif %}

					{% if has_access_resource(
						constants.admin.groups.PERMISSION_GROUP,
						constants.admin.groups.PERMISSION_KEY,
						server.id,
						permissions.ACCESS_DELETE
					) %}
						{{ admin.delete_btn(
							path_for(constants.admin.groups.ROUTE_DELETE, {'server': server.id, 'group': group.id})
						) }}
					{% endif %}
				</li>
			</ul>
		{% endfor %}
	</div>
</div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
	<script>
	window.GROUPS_PRIORITY_URL = '{{ path_for(constants.admin.groups.ROUTE_PRIORITY, {'server': server.id}) }}';
	</script>
	<script src="{{ base_url() }}/assets/scripts/admin_groups.js"></script>
{% endblock %}
