<li>
	<div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
		<div f-table f-divider>
			<ul th>
				<li class="uk-width-1-4@m uk-width-1-4@s uk-visible@s">{{ trans('admin_privileges', 'group') }}</li>
				<li class="uk-width-1-4@m uk-width-1-4@s uk-visible@s">{{ trans('admin_privileges', 'player') }}</li>
				<li class="uk-width-1-4@m uk-width-1-4@s uk-visible@s">{{ trans('admin_privileges', 'expired') }}</li>
				<li class="uk-width-1-4@m uk-width-1-4@s uk-visible@s"></li>
			</ul>
			{% for privilege in privileges %}
				<ul>
					<li class="uk-width-1-4@m uk-width-1-4@s uk-visible@s">
						{{ privilege.group.title }}
					</li>
					<li class="uk-width-1-4@m uk-width-1-4@s uk-visible@s">
						{% if hasPlayerViewPermissions %}
							<a href="{{ path_for(constants.admin.players.ROUTE_VIEW, {'player': privilege.player.id}) }}">
								{{ privilege.player.nick }}
							</a>
						{% else %}
							{{ privilege.player.nick }}
						{% endif %}
					</li>
					<li class="uk-width-1-4@m uk-width-1-4@s uk-visible@s">
						{% if privilege.expired_at is null %}
							{{ trans('admin_privileges', 'forever') }}
						{% else %}
							{{ datetime.datetime(privilege.expired_at) }}
						{% endif %}
					</li>
					<li class="uk-width-1-4@m uk-width-1-4@s uk-visible@s">
						{% if has_access_resource(
							constants.admin.privileges.PERMISSION_GROUP,
							constants.admin.privileges.PERMISSION_KEY,
							server.id,
							permissions.ACCESS_EDIT
						) %}
							{{ admin.edit_btn(
								path_for(constants.admin.privileges.ROUTE_EDIT, {
									'player': privilege.player.id,
									'privilege' : privilege.id
								})
							) }}
						{% endif %}

						{% if has_access_resource(
							constants.admin.privileges.PERMISSION_GROUP,
							constants.admin.privileges.PERMISSION_KEY,
							server.id,
							permissions.ACCESS_DELETE
						) %}
							{{ admin.delete_btn(
								path_for(constants.admin.privileges.ROUTE_DELETE, {
									'player': privilege.player.id,
									'privilege' : privilege.id
								})
							) }}
						{% endif %}
					</li>
				</ul>
			{% else %}
				<ul>
					<li>{{ trans('admin_privileges', 'empty_list') }}</li>
				</ul>
			{% endfor %}
		</div>
	</div>
</li>