{% extends 'admin/admin.twig' %}

{% import 'macros/forms.twig' as forms %}

{% block content %}
<div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
    <form action="{{ form.getAction() }}" method="post">
        {{ csrf_token() }}
        {{ forms.element_input(form.title, true) }}
        {{ forms.element_input(form.flags, true) }}
        {{ forms.element_input(form.priority, true) }}
        <div class="uk-margin">
            {% if create %}
                <input type="submit" class="uk-button uk-button-primary" value="{{ trans('buttons', 'create') }}">
            {% else %}
                <input type="submit" class="uk-button uk-button-primary" value="{{ trans('buttons', 'update') }}">
            {% endif %}
            <a href="{{ path_for('admin_servers_groups_list', {'server': server.id}) }}" class="uk-button uk-button-secondary">
                {{ trans('buttons', 'cancel') }}
            </a>
        </div>
    </form>
</div>
{% endblock %}
