{% extends 'admin/admin.twig' %}

{% import 'macros/admin.twig' as admin %}
{% import 'macros/paginator.twig' as paginator %}

{% block subnav %}
    {{ admin.back_btn(path_for(routes.admin.servers.ROUTE_LIST), 'l') }}
    {{ admin.add_btn(path_for('admin_servers_groups_create', {'server': server.id}), 'l') }}
{% endblock %}

{% block content %}
<div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
	<div class="uk-overflow-auto">
		<table class="uk-table uk-table-divider">
			<thead>
				<tr>
					<th>Name</th>
					<th>Flags</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
			{% for group in groups %}
				<tr>
					<td class="text-nowrap">{{ group.title }}</td>
					<td class="text-nowrap">{{ get_flags(group.flags) }}</td>
					<td class="text-nowrap">
                        {{ admin.edit_btn(path_for('admin_servers_groups_edit', {'server': server.id, 'group': group.id})) }}
                        {{ admin.delete_btn(path_for('admin_servers_groups_delete', {'server': server.id, 'group': group.id})) }}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	{{ paginator.render(pagination) }}
</div>
{% endblock %}
