{% extends 'admin/admin.twig' %}

{% import 'macros/forms.twig' as forms %}

{% block content %}
<div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
    {% include 'admin/preferences/tabs.twig' with {'href': currentHref} %}
	<form action="{{ form.getAction() }}" method="post">
		{{ csrf_token() }}
		{{ forms.element_input(form.title, true) }}
		{{ forms.element_select(form.language) }}
		<div class="form-group">
			<input type="submit" class="uk-button uk-button-primary hvr-grow" value="{{ trans('buttons', 'save') }}">
		</div>
	</form>
</div>
{% endblock %}
