{% extends 'base.twig' %}

{% block content %}
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Address</th>
				<th>Map</th>
				<th>Players</th>
			</tr>
		</thead>
		<tbody>
			{% for server in servers %}
				<tr>
					<td>{{ server.name }}</td>
					<td>{{ server.ip }}:{{ server.port }}</td>
					{% if server.success %}
						<td>{{ server.map }}</td>
						<td>{{ server.players }}/{{ server.maxPlayers }}</td>
					{% else %}
						<td>-</td>
						<td>-</td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
