{% extends 'admin/admin.twig' %}

{% block content %}
    <form action="{{ form_action(form) }}" method="post">
        {{ csrf_token() }}
        <div class="form-group">
            {{ form_label(form, 'role') }}
            {{ form_input(form, 'role') }}
            {{ form_error(form, 'role') }}
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="{{ trans('buttons', 'save') }}">
            <a href="{{ path_for('admin_users_list') }}" class="btn btn-secondary">{{ trans('buttons', 'cancel') }}</a>
        </div>
    </form>
{% endblock %}
