{% extends 'admin/admin.twig' %}

{% block style %}
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/tables.css" />
{% endblock %}

{% block content %}
<div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
    <div f-table f-divider>
        <ul>
            <li>Username</li>
            <li>{{ user.login }}</li>
        </ul>
        <ul>
            <li>Email</li>
            <li>{{ user.email }}</li>
        </ul>
        <ul>
            <li>Create At</li>
            <li>{{ user.created_at }}</li>
        </ul>
        <ul>
            <li>Update At</li>
            <li>{{ user.updated_at }}</li>
        </ul>
        <ul>
            <li>Role</li>
            <li>{{ user.role.name }}</li>
        </ul>
    </div>
</div>
{% endblock %}
