{% extends 'admin/admin.twig' %}

{% import 'macros/admin.twig' as admin %}
{% import 'macros/forms.twig' as forms %}
{% import 'macros/paginator.twig' as paginator %}

{% block subnav %}
    <div class="uk-float-left">
        {{ admin.back_btn(path_for('admin_index'), 'l') }}
    </div>
{% endblock %}

{% block content %}
<div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
    <div class="uk-light uk-background-secondary token">
        <b>* * * * * wget -O /dev/null {{ base_uri }}/cron</b>
    </div>
</div>
<div class="uk-card uk-card-default">
    <div class="uk-card-body">
        <div f-table f-divider>
            <ul th>
                <li class="uk-width-1-6@m uk-width-1-6@s uk-visible@s">Key</li>
                <li class="uk-width-1-6@m uk-width-1-6@s uk-visible@s">KeyID</li>
                <li class="uk-width-1-6@m uk-width-1-6@s uk-visible@s">Status</li>
                <li class="uk-width-1-6@m uk-width-1-6@s uk-visible@s">Retries</li>
                <li class="uk-width-1-6@m uk-width-1-6@s uk-visible@s">Created</li>
                <li class="uk-width-1-6@m uk-width-1-6@s uk-visible@ss">Executed</li>
            </ul>
            {% for task in tasks %}
            <ul>
                <li class="uk-width-1-6@m uk-width-1-6@s uk-visible@s">{{ task.key }}</li>
                <li class="uk-width-1-6@m uk-width-1-6@s uk-visible@s">{{ task.key_id }}</li>
                <li class="uk-width-1-6@m uk-width-1-6@s uk-visible@s">
                    {# TODO: Refactor this #}
                    {% if task.status == 0 %}
                        Waiting
                    {% elseif task.status == 1 %}
                        In progress
                    {% elseif task.status == 2 %}
                        Failed
                    {% elseif task.status == 3 %}
                        Done
                    {% endif %}
                </li>
                <li class="uk-width-1-6@m uk-width-1-6@s uk-visible@s">{{ task.retries }}</li>
                <li class="uk-width-1-6@m uk-width-1-6@s uk-visible@s">{{ task.created_at }}</li>
                <li class="uk-width-1-6@m uk-width-1-6@s uk-visible@s">{{ task.executed_at }}</li>
            </ul>
            {% endfor %}
        </div>
    </div>
    {{ paginator.render(pagination) }}
</div>
{% endblock %}
