{% extends 'admin/admin.twig' %}

{% import 'macros/admin.twig' as admin %}
{% import 'macros/forms.twig' as forms %}

{% block subnav %}
	<div class="uk-float-left">
		{{ admin.back_btn(path_for('admin_index'), 'l') }}
	</div>
{% endblock %}

{% block content %}
<div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
	<form action="{{ form.getAction() }}" method="post">
		{{ csrf_token() }}
		{{ forms.element_input(form.title, {"label": true}) }}
		{{ forms.element_select(form.language) }}
		{{ forms.element_select(form.theme) }}
		{{ forms.element_checkbox(form.auto_activate_users) }}
		{{ forms.element_select(form.default_role) }}

		{% if hasAccessToEdit %}
			<div class="form-group">
				<input type="submit" class="uk-button uk-button-primary" value="{{ trans('buttons', 'save') }}">
			</div>
		{% endif %}
	</form>
</div>
{% endblock %}
