{% extends 'admin/admin.twig' %}

{% import 'macros/admin.twig' as admin %}
{% import 'macros/forms.twig' as forms %}

{% block subnav %}
	<div class="uk-float-left">
		{{ admin.back_btn(path_for('admin_index'), 'l') }}
	</div>
{% endblock %}

{% block content %}
<div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
	<form action="{{ form.getAction() }}" method="post">
        {{ csrf_token() }}
	<div uk-grid>
		<div class="uk-width-1-4@m">
			<ul
					class="uk-tab-left"
					uk-tab="connect: #social; animation: uk-animation-slide-top-medium,uk-animation-slide-bottom-medium; swiping: false"
			>
				<li class="uk-active">
					<a href="#"><i class="fab fa-steam"></i> Steam</a>
				</li>
				<li>
					<a href="#"><i class="fab fa-vk"></i> VK</a>
				</li>
				<li>
					<a href="#"><i class="fab fa-facebook"></i> Facebook</a>
				</li>
				<li>
					<a href="#"><i class="fab fa-discord"></i> Discord</a>
				</li>
			</ul>
            {% if hasAccessToEdit %}
				<div class="form-group">
					<input type="submit" class="uk-button uk-button-primary" value="{{ trans('buttons', 'save') }}">
				</div>
            {% endif %}
		</div>

		<div class="uk-width-3-4@m">
				<ul id="social" class="uk-switcher">
					<li>
						<h1><i class="fab fa-steam"></i> Steam</h1>
						{{ forms.element_checkbox(form.steam_enabled) }}
						{{ forms.element_input(form.steam_icon) }}
					</li>
					<li>
						<h1><i class="fab fa-vk"></i> VK</h1>
						{{ forms.element_checkbox(form.vk_enabled) }}
						{{ forms.element_input(form.vk_icon) }}
						{{ forms.element_input(form.vk_id) }}
						{{ forms.element_input(form.vk_key) }}
						{{ forms.element_input(form.vk_secret) }}
					</li>
					<li>
						<h1><i class="fab fa-facebook"></i> Facebook</h1>
                        {{ forms.element_checkbox(form.facebook_enabled) }}
                        {{ forms.element_input(form.facebook_icon) }}
                        {{ forms.element_input(form.facebook_id) }}
                        {{ forms.element_input(form.facebook_key) }}
                        {{ forms.element_input(form.facebook_secret) }}
					</li>
					<li>
						<h1><i class="fab fa-discord"></i> Discord</h1>
                        {{ forms.element_checkbox(form.discord_enabled) }}
                        {{ forms.element_input(form.discord_icon) }}
                        {{ forms.element_input(form.discord_id) }}
                        {{ forms.element_input(form.discord_key) }}
                        {{ forms.element_input(form.discord_secret) }}
					</li>
				</ul>
		</div>
	</div>
	</form>
</div>
{% endblock %}
