{% import 'macros/navbar.twig' as navbar %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/assets/favicon.ico">
    <title>{% block title %}{{ title }} | {{ trans('labels', 'admin_panel') }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/uikit.css" />
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/all.css" />
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/style.css" />
    <script src="{{ base_url() }}/assets/js/uikit.js"></script>
    <script src="{{ base_url() }}/assets/js/all.js"></script>
    {% block style %}{% endblock %}
</head>
<body>
<div class="uk-container">
    <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
        {{ navbar.mainbar(menu) }}
    </div>
    <main role="main" class="container">
        <div class="uk-margin uk-flex uk-flex-right">
            {% block subnav %}{% endblock %}
        </div>
        {% for message in flash_messages.success %}
            <div class="uk-alert-success" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <h5>{{ message }}</h5>
            </div>
        {% endfor %}

        {% for message in flash_messages.error %}
            <div class="uk-alert-danger" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <h5>{{ message }}</h5>
            </div>
        {% endfor %}

        {% block content %}{% endblock %}
    </main>
    {% block modals %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        UIkit.util.on('form.btn-delete', 'submit', function (e) {
            e.preventDefault();
            e.target.blur();
            var form = this;
            //alert(form.action);
            UIkit.modal.confirm('{{ trans('labels', 'are_you_sure') }}',
                {
                    labels: {
                        ok: '{{ trans('buttons', 'delete') }}',
                        cancel: '{{ trans('buttons', 'cancel') }}'
                    }
                }).then(function () {
                //console.log('Confirmed.');
                form.submit();
            }, function () {
                //console.log('Rejected.')
            });
        });
    </script>
    {% block javascript %}{% endblock %}
</div>
</body>
</html>
