{% macro edit_btn(href) %}
	<a
			href="{{ href }}"
			class="uk-icon-button  uk-margin-small-right" uk-icon="pencil"
			data-toggle="tooltip"
			data-placement="top"
			title="{{ trans('buttons', 'edit') }}"
	></a>
{% endmacro %}

{% macro delete_btn(href) %}
	<form
			action="{{ href }}"
			method="post"
			class="btn-delete"
	>
        {{ csrf_token() }}
		<button
				type="submit"
				class="uk-icon-button  uk-margin-small-right" uk-icon="trash"
				data-toggle="tooltip"
				data-placement="top"
				title="{{ trans('buttons', 'delete') }}"
		></button>
	</form>
{% endmacro %}
