{% macro element_input(element, label = false) %}
	{% set classes = ['uk-input'] %}
	{% if element.getHasError() %}
		{% set classes = classes|merge(['is-invalid']) %}
	{% endif %}
	{% set classes = classes|merge(element.getClasses()) %}
	{% set attributes = element.getAttributes() %}
	{% if element.getIsRequired() %}
		{% set attributes = attributes|merge({'required': 'required'}) %}
	{% endif %}

	<div class="uk-margin uk-inline uk-width-1-1">
        {% if label %}
        <label class="uk-form-label" for="{{ element.getId() }}">{{ element.getTitle() }}</label>
        <div class="uk-form-controls">
        {% endif %}
		{% if element.getIcon() %}
			<span class="uk-form-icon" uk-icon="icon: {{ element.getIcon() }}"></span>
		{% endif %}
		<input
				type="{{ element.getType() }}"
				id="{{ element.getId() }}"
				name="{{ element.getFormName() }}[{{ element.getName() }}]"
				value="{{ element.getValue() }}"
				class="{{ classes | join(' ') }}"
				placeholder="{{ element.getTitle() }}"
		{% for key, value in attributes %}
			{{ key }}="{{ value }}"
		{% endfor %}
		/>
		{% if element.getHasError() %}
			<span class="invalid-feedback">{{ element.getError() }}</span>
		{% endif %}
        {% if label %}
            </div>
        {% endif %}
	</div>
{% endmacro %}

{% macro element_datetime(element, format) %}
    {% set classes = ['form-control'] %}
    {% if element.getHasError() %}
        {% set classes = classes|merge(['is-invalid']) %}
    {% endif %}
    {% set classes = classes|merge(element.getClasses()) %}
    {% set attributes = element.getAttributes() %}
    {% if element.getIsRequired() %}
        {% set attributes = attributes|merge({'required': 'required'}) %}
    {% endif %}
	<div class="uk-margin uk-inline uk-width-1-1">
		<label for="{{ element.getId() }}">{{ element.getTitle() }}</label>
		<div class="uk-form-controls">
			<input
					type="{{ element.getType() }}"
					id="{{ element.getId() }}"
					name="{{ element.getFormName() }}[{{ element.getName() }}]"
					value="{{ element.format(format) }}"
					class="{{ classes | join(' ') }}"
			{% for key, value in attributes %}
				{{ key }}="{{ value }}"
			{% endfor %}
			/>
			{% if element.getHasError() %}
				<span class="invalid-feedback">{{ element.getError() }}</span>
			{% endif %}
		</div>
	</div>
{% endmacro %}

{% macro element_checkbox(element) %}
	{% set classes = ['uk-checkbox'] %}
	{% if element.getHasError() %}
		{% set classes = classes|merge(['is-invalid']) %}
	{% endif %}
	{% set classes = classes|merge(element.getClasses()) %}
	{% set attributes = element.getAttributes() %}
	{% if element.getIsRequired() %}
		{% set attributes = attributes|merge({'required': 'required'}) %}
	{% endif %}

	<div class="uk-margin uk-inline uk-width-1-1">
		<div class="custom-control custom-checkbox">
			<input
				type="checkbox"
				id="{{ element.getId() }}"
				name="{{ element.getFormName() }}[{{ element.getName() }}]"
				value="1"
				class="{{ classes | join(' ') }}"
				{% for key, value in attributes %}
					{{ key }}="{{ value }}"
				{% endfor %}
				{% if element.getValue() %}
					checked="checked"
				{% endif %}
			/>
			<label for="{{ element.getId() }}" class="custom-control-label">{{ element.getTitle() }}</label>
		</div>
	</div>
{% endmacro %}

{% macro element_select(element) %}
	{% set classes = ['uk-select','uk-form-width-large'] %}
	{% if element.getHasError() %}
		{% set classes = classes|merge(['is-invalid']) %}
	{% endif %}
	{% set classes = classes|merge(element.getClasses()) %}
	{% set attributes = element.getAttributes() %}
	{% if element.getIsRequired() %}
		{% set attributes = attributes|merge({'required': 'required'}) %}
	{% endif %}
	<div class="uk-margin uk-inline uk-width-1-1">
		<label for="{{ element.getId() }}">{{ element.getTitle() }}</label>
		<div class="uk-form-controls">
			<select
				id="{{ element.getId() }}"
				name="{{ element.getFormName() }}[{{ element.getName() }}]"
				class="{{ classes | join(' ') }}"
				{% for key, value in attributes %}
					{{ key }}="{{ value }}"
				{% endfor %}
			>
			{% if element.getEmptyOption() %}
				<option value="">{{ element.getEmptyOption() }}</option>
			{% endif %}
			{% for key, value in element.getOptions() %}
				{% if key == element.getValue() %}
					<option value="{{ key }}" selected="selected">{{ value }}</option>
				{% else %}
					<option value="{{ key }}">{{ value }}</option>
				{% endif %}
			{% endfor %}
			</select>
			{% if element.getHasError() %}
				<span class="invalid-feedback">{{ element.getError() }}</span>
			{% endif %}
		</div>
	</div>
{% endmacro %}

{% macro element_file(element) %}
    {% set classes = ['custom-file-input'] %}
    {% if element.getHasError() %}
        {% set classes = classes|merge(['is-invalid']) %}
    {% endif %}
    {% set classes = classes|merge(element.getClasses()) %}
    {% set attributes = element.getAttributes() %}
    {% if element.getIsRequired() %}
        {% set attributes = attributes|merge({'required': 'required'}) %}
    {% endif %}

	<div class="form-group">
		<div class="custom-control custom-file">
			<input
					type="file"
					id="{{ element.getId() }}"
					name="{{ element.getFormName() }}[{{ element.getName() }}]"
					value="1"
					class="{{ classes | join(' ') }}"
            {% for key, value in attributes %}
                {{ key }}="{{ value }}"
            {% endfor %}
			/>
			<label for="{{ element.getId() }}" class="custom-file-label">{{ element.getTitle() }}</label>
            {% if element.getHasError() %}
				<span class="invalid-feedback">{{ element.getError() }}</span>
            {% endif %}
		</div>
	</div>
{% endmacro %}
