{% macro element_input(element) %}
	{% set classes = ['form-control'] %}
	{% if element.getHasError() %}
		{% set classes = classes|merge(['is-invalid']) %}
	{% endif %}
	{% set classes = classes|merge(element.getClasses()) %}
	{% set attributes = element.getAttributes() %}
	{% if element.getIsRequired() %}
		{% set attributes = attributes|merge({'required': 'required'}) %}
	{% endif %}

	<div class="form-group">
		<label for="{{ element.getId() }}">{{ element.getTitle() }}</label>
		<input
				type="{{ element.getType() }}"
				id="{{ element.getId() }}"
				name="{{ element.getFormName() }}[{{ element.getName() }}]"
				value="{{ element.getValue() }}"
				class="{{ classes | join(' ') }}"
		{% for key, value in attributes %}
			{{ key }}="{{ value }}"
		{% endfor %}
		/>
		{% if element.getHasError() %}
			<span class="invalid-feedback">{{ element.getError() }}</span>
		{% endif %}
	</div>
{% endmacro %}

{% macro element_checkbox(element) %}
	{% set classes = ['custom-control-input'] %}
	{% if element.getHasError() %}
		{% set classes = classes|merge(['is-invalid']) %}
	{% endif %}
	{% set classes = classes|merge(element.getClasses()) %}
	{% set attributes = element.getAttributes() %}
	{% if element.getIsRequired() %}
		{% set attributes = attributes|merge({'required': 'required'}) %}
	{% endif %}

	<div class="form-group">
		<div class="custom-control custom-checkbox">
			<input
				type="checkbox"
				id="{{ element.getId() }}"
				name="{{ element.getFormName() }}[{{ element.getName() }}]"
				value="1"
				class="{{ classes | join(' ') }}"
				{% for key, value in attributes %}
					{{ key }}="{{ value }}"
				{% endfor %}
				{% if element.getValue() %}
					checked="checked"
				{% endif %}
			/>
			<label for="{{ element.getId() }}" class="custom-control-label">{{ element.getTitle() }}</label>
		</div>
	</div>
{% endmacro %}

{% macro element_select(element) %}
	{% set classes = ['form-control'] %}
	{% if element.getHasError() %}
		{% set classes = classes|merge(['is-invalid']) %}
	{% endif %}
	{% set classes = classes|merge(element.getClasses()) %}
	{% set attributes = element.getAttributes() %}
	{% if element.getIsRequired() %}
		{% set attributes = attributes|merge({'required': 'required'}) %}
	{% endif %}
	<div class="form-group">
		<label for="{{ element.getId() }}">{{ element.getTitle() }}</label>
		<select
			id="{{ element.getId() }}"
			name="{{ element.getFormName() }}[{{ element.getName() }}]"
			class="{{ classes | join(' ') }}"
			{% for key, value in attributes %}
				{{ key }}="{{ value }}"
			{% endfor %}
		>
		{% if element.getEmptyOption() %}
			<option value="">{{ element.getEmptyOption() }}</option>
		{% endif %}
		{% for key, value in element.getOptions() %}
			{% if key == element.getValue() %}
				<option value="{{ key }}" selected="selected">{{ value }}</option>
			{% else %}
				<option value="{{ key }}">{{ value }}</option>
			{% endif %}
		{% endfor %}
		</select>
		{% if element.getHasError() %}
			<span class="invalid-feedback">{{ element.getError() }}</span>
		{% endif %}
	</div>
{% endmacro %}
