{% macro mainbar(menu) %}
    <nav class="uk-navbar-container uk-visible@m" uk-navbar>
        <a class="uk-navbar-item uk-logo" href="{{ path_for('index') }}">
            <img src="{{ base_url() }}/assets/images/logo.svg" width="100">
        </a>
        <div class="uk-navbar-left nav-overlay">
            <ul class="uk-navbar-nav">
                {% for item in menu if item.permission or has_access_permission(item.permission[0], item.permission[1]) %}
                    <li {% if menu.getActiveRoute() == item.route %}class="uk-active"{% endif %}>
                        <a class="nav-link" href="{{ path_for(item.route, item.params) }}">{{ item.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="nav-overlay uk-navbar-left uk-flex-1" hidden>

            <div class="uk-navbar-item uk-width-expand">
                <form class="uk-search uk-search-navbar uk-width-1-1">
                    <input class="uk-search-input" type="search" placeholder="{{ trans('labels', 'search') }}..." autofocus>
                </form>
            </div>

            <a class="uk-navbar-toggle" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>

        </div>
        <div class="nav-overlay uk-navbar-right">
            <a class="uk-navbar-toggle" uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"><i class="fas fa-search"></i></a>
            <ul class="uk-navbar-nav">
                <li>
                    <a href="#"><i class="fas fa-globe" title="{{ userLangName }}"></i></a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            {% for key,value in siteLanguages %}
                                <li><a href="{{ path_for('language', {}, {'lang': key, 'r': currentUri}) }}">{{ value }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#"><i class="fas fa-user-circle"></i></a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            {% if is_guest() %}
                                <li><a class="dropdown-item" href="{{ path_for('login') }}">
                                        {{ trans('buttons', 'login') }}/{{ trans('buttons', 'register') }}
                                    </a></li>
                            {% else %}
                                <li class="uk-nav-header">{{ get_user_name() }}</li>
                                {% if has_access_group('admin') %}
                                    <li><a class="dropdown-item" href="{{ path_for('admin_index') }}"><i class="fas fa-wrench uk-margin-small-right"></i> Admin</a></li>
                                {% endif %}
                                <li><a class="dropdown-item" href="{{ path_for(constants.settings.ROUTE_MAIN) }}"><i class="fas fa-user uk-margin-small-right"></i> Settings</a></li>
                                <li class="uk-nav-divider"></li>
                                <li><a class="dropdown-item" href="{{ path_for('logout') }}"><i class="fas fa-sign-out-alt uk-margin-small-right"></i> {{ trans('buttons', 'logout') }}</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="uk-navbar-container uk-hidden@m" uk-navbar>
        <a class="uk-navbar-item uk-logo" href="{{ path_for('index') }}">
            <img src="{{ base_url() }}/assets/images/logo.svg" width="80">
        </a>
        <div class="uk-navbar-left">
            <a class="uk-navbar-toggle" uk-navbar-toggle-icon href="#" uk-toggle="target: #offcanvas-nav"></a>
        </div>
        <div id="offcanvas-nav" uk-offcanvas="overlay: true">
            <div class="uk-offcanvas-bar">
                <ul class="uk-nav uk-nav-default">
                    {% for item in menu if item.permission or has_access_permission(item.permission[0], item.permission[1]) %}
                        <li {% if menu.getActiveRoute() == item.route %}class="uk-active"{% endif %}>
                            <a class="nav-link" href="{{ path_for(item.route, item.params) }}">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
        <div class="uk-navbar-right">
            <a class="uk-navbar-toggle" uk-icon="grid" href="#" uk-toggle="target: #offcanvas-nav2"></a>
        </div>
        <div id="offcanvas-nav2" uk-offcanvas="overlay: true">
            <div class="uk-offcanvas-bar">
                <ul class="uk-nav uk-nav-default">
                    {% if is_guest() %}
                        <li><a class="dropdown-item" href="{{ path_for('login') }}">
                                {{ trans('buttons', 'login') }}/{{ trans('buttons', 'register') }}
                            </a></li>
                    {% else %}
                        <li class="uk-nav-header">{{ get_user_name() }}</li>
                        {% if has_access_group('admin') %}
                            <li>
                                <a class="dropdown-item" href="{{ path_for('admin_index') }}">
                                    <span class="uk-margin-small-right" uk-icon="icon: warning"></span> Admin
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <a class="dropdown-item" href="#">
                                <span class="uk-margin-small-right" uk-icon="icon: settings"></span> Settings</a>
                        </li>
                        <li class="uk-nav-divider"></li>
                        <li><a class="dropdown-item" href="{{ path_for('logout') }}">
                                <span class="uk-margin-small-right" uk-icon="icon: sign-out"></span> {{ trans('buttons', 'logout') }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endmacro %}
