{% macro permission_checkboxes(form, name) %}
    {% set element = form.get(name) %}
    {% if element %}
        <ul>
            <li class="uk-width-expand" s-title="{{ element.getTitle() }}>
                {{ element.getTitle() }}
            </li>
            {% for access in [1, 2, 4, 8, 16] %}
                <li class="uk-width-xxs">
                    {{ _self.permission_checkbox(element, access) }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% macro permission_checkbox(element, access) %}
    <div class="uk-margin uk-inline uk-width-1-1">
        <label class="switcher">
            <input
                    type="checkbox"
                    id="{{ element.getId() ~ access }}"
                    name="{{ element.getFormName() }}[{{ element.getName() }}][]"
                    value="{{ access }}"
                    {% if element.hasAccess(access) %}
                        checked="checked"
                    {% endif %}
            />
            <div class="switcher__indicator"></div>
        </label>
    </div>
{% endmacro %}
