{% extends 'admin/admin.twig' %}

{% import 'macros/admin.twig' as admin %}
{% import 'macros/forms.twig' as forms %}

{% block subnav %}
    {% if has_access_permission(
        constants.admin.users.PERMISSION_GROUP,
        constants.admin.users.PERMISSION_KEY,
        permissions.ACCESS_VIEW
    ) %}
        <div class="uk-float-left">
            {{ admin.back_btn(path_for(constants.admin.users.ROUTE_VIEW, {'user': user.id}), 'l') }}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
<div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
    <ul uk-accordion="multiple: true">
        <li class="uk-open">
            <form action="{{ roleForm.getAction() }}" method="post">
                {{ csrf_token() }}
                {{ forms.element_select(roleForm.role) }}
                <div class="form-group">
                    <input type="submit" class="uk-button uk-button-primary" value="{{ trans('buttons', 'save') }}">
                </div>
            </form>
        </li>
        <li>
            <form action="{{ emailForm.getAction() }}" method="post">
                {{ csrf_token() }}
                {{ forms.element_input(emailForm.email) }}
                <div class="form-group">
                    <input type="submit" class="uk-button uk-button-primary" value="{{ trans('buttons', 'save') }}">
                </div>
            </form>
        </li>
    </ul>
</div>
{% endblock %}
