{% extends 'admin/admin.twig' %}

{% import 'macros/admin.twig' as admin %}
{% import 'macros/paginator.twig' as paginator %}

{% block style %}
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/tables.css" />
{% endblock %}

{% block subnav %}
    <div class="uk-float-left">
        {{ admin.back_btn(path_for('admin_index'), 'l') }}
    </div>
{% endblock %}

{% block content %}
<div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
    {% set hasPermissionsForView = has_access_permission(
        constants.admin.users.PERMISSION_GROUP,
        constants.admin.users.PERMISSION_KEY,
        premissions.ACCESS_VIEW
    ) %}
    {% set hasAccessToEdit = has_access_permission(
        constants.admin.users.PERMISSION_GROUP,
        constants.admin.users.PERMISSION_KEY,
        premissions.ACCESS_EDIT
    ) %}
    <div f-table f-divider>
        <ul th>
            <li class="user-avatar-cell uk-flex-middle" title="{{ trans('admin_users', 'status') }}">
                <i class="fas fa-power-off"></i>
            </li>
            <li class="user-avatar-cell">
                <div>
                    <img class="uk-border-circle" width="30" height="30" src="{{ base_url() }}/assets/images/user.svg" style="filter: invert(1);">
                </div>
            </li>
            <li class="uk-width-1-4@m uk-width-2-4@s uk-visible@s uk-flex-middle">{{ trans('admin_users', 'login') }}</li>
            <li class="uk-width-1-4@m uk-width-1-4@s uk-visible@s uk-flex-middle">{{ trans('admin_users', 'email') }}</li>
            {% if hasAccessToEdit %}
                <li class="uk-width-1-6@m uk-visible@m"></li>
            {% endif %}
        </ul>
        {% for user in users %}
        <ul>
            <li class="user-avatar-cell uk-flex-middle">
                {% if not is_user_active(user) %}
                    <span class="uk-text-danger" title="{{ trans('admin_users', 'status_pending') }}"><i class="fas fa-power-off"></i></span>
                {% else %}
                    <span class="uk-text-success" title="{{ trans('admin_users', 'status_active') }}"><i class="fas fa-power-off"></i></span>
                {% endif %}
            </li>
            <li class="user-avatar-cell uk-flex-middle">
                <div>
                    {% if user.avatar %}
                        <img class="uk-border-circle" width="30" height="30" src="{{ upload_url(user.avatar) }}">
                    {% else %}
                        <img class="uk-border-circle" width="30" height="30" src="{{ base_url() }}/assets/images/user.svg" style="filter: invert(1);">
                    {% endif %}
                </div>
            </li>
            <li class="uk-width-1-4@m uk-width-2-4@s uk-flex-middle">
                {% if hasPermissionsForView %}
                    <a href="{{ path_for(constants.admin.users.ROUTE_VIEW, {'user': user.id}) }}">{{ user.login }}</a>
                {% else %}
                    {{ user.login }}
                {% endif %}
            </li>
            <li class="uk-width-1-4@m uk-width-1-4@s uk-flex-middle">
                {{ user.email }}
            </li>
            {% if hasAccessToEdit %}
                <li class="uk-width-1-6@m">
                    {{ admin.edit_btn(path_for(constants.admin.users.ROUTE_EDIT, {'user': user.id})) }}
                </li>
            {% endif %}
        </ul>
        {% endfor %}
    </div>
	{{ paginator.render(pagination) }}
</div>
{% endblock %}
