{% extends 'admin/admin.twig' %}

{% import 'macros/admin.twig' as admin %}

{% block style %}
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/tables.css" />
{% endblock %}

{% block subnav %}
    {% if has_access_permission(
        constants.admin.users.PERMISSION_GROUP,
        constants.admin.users.PERMISSION_KEY,
        permissions.ACCESS_LIST
    ) %}
        <div class="uk-float-left">
            {{ admin.back_btn(path_for(constants.admin.users.ROUTE_LIST), 'l') }}
        </div>
    {% endif %}

    {% if has_access_permission(
        constants.admin.users.PERMISSION_GROUP,
        constants.admin.users.PERMISSION_KEY,
        permissions.ACCESS_EDIT
    ) %}
        {{ admin.edit_btn(path_for(constants.admin.users.ROUTE_EDIT, {'user': user.id}), 'l') }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="uk-card uk-card-default uk-width-1-1@m uk-margin">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="user-avatar-cell">
                    {% if user.avatar %}
                    <img class="uk-border-circle" width="100" height="100" src="{{ upload_url(user.avatar) }}">
                    {% else %}
                    <img class="uk-border-circle" width="100" height="100" src="{{ base_url() }}/assets/images/user.svg" style="filter: invert(1)">
                    {% endif %}
                    <div class="status-icon">
                        {% if not is_user_active(user) %}

                            {% if has_access_permission(
                                constants.admin.users.PERMISSION_GROUP,
                                constants.admin.users.PERMISSION_KEY,
                                permissions.ACCESS_EDIT
                                ) %}
                                <a
                                        id="activateUser"
                                        href="{{ path_for(constants.admin.users.ROUTE_ACTIVATE, {'user': user.id}) }}"
                                        class="uk-button"
                                >
                                    <span class="uk-text-danger" title="{{ trans('admin_users', 'status_pending') }}"><i class="fas fa-power-off"></i></span>
                                </a>
                            {% endif %}
                        {% else %}
                            <span class="uk-text-success" title="{{ trans('admin_users', 'status_active') }}"><i class="fas fa-power-off"></i></span>
                        {% endif %}
                    </div>
                </div>
                <div class="uk-width-expand">
                    <h1 class="uk-margin-remove-bottom">{{ user.login }}</h1>
                    <p class="uk-text-meta uk-margin-remove-top">
                        <i class="fas fa-user-plus" title="Sign up date"></i> <time>{{ user.created_at }}</time>
                        <br>
                        <i class="fas fa-sync-alt" title="Update"></i> <time>{{ user.updated_at }}</time>
                    </p>
                </div>
            </div>
        </div>
        <div class="uk-card-body">
            <div f-table f-divider>
                <ul>
                    <li class="uk-width-1-6@m uk-width-1-6@s">Email</li>
                    <li class="uk-width-1-6@m uk-width-1-6@s">{{ user.email }}</li>
                </ul>
                <ul>
                    <li class="uk-width-1-6@m uk-width-1-6@s">Update At</li>
                    <li class="uk-width-1-6@m uk-width-1-6@s">{{ user.updated_at }}</li>
                </ul>
                <ul>
                    <li class="uk-width-1-6@m uk-width-1-6@s">Role</li>
                    <li class="uk-width-1-6@m uk-width-1-6@s">{{ user.role.name }}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="uk-card uk-card-secondary uk-card-body uk-width-1-1@m">
        <h3 class="uk-card-title">Players</h3>
        <div f-table f-divider>
            <ul th>
                <li class="uk-width-1-3@m uk-width-1-3@s uk-visible@s">STEAM ID</li>
                <li class="uk-width-1-3@m uk-width-1-3@s uk-visible@s">NICKNAME</li>
                <li class="uk-width-1-3@m uk-width-1-3@s uk-visible@s">SERVER</li>
            </ul>
            {% for player in user.players %}
                <ul>
                    <li class="uk-width-1-3@m uk-width-1-3s uk-visible@s">{{ player.steamid }}</li>
                    <li class="uk-width-1-3@m uk-width-1-3@s uk-visible@s">{{ player.nick }}</li>
                    <li class="uk-width-1-3@m uk-width-1-3@s uk-visible@s">{{ player.server.name }}</li>
                </ul>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script>
    $(document).ready(function () {
        UIkit.util.on('#activateUser', 'click', function (e) {
            e.preventDefault();
            e.target.blur();
            var csrf_tocken = {{ csrf_token_json() }};
            $.post($(this).attr('href'), csrf_tocken)
                .done(function(data) {
                    if (data.success) {
                        location.reload();
                    } else {
                        console.log('error')
                    }
                })
                .fail(function() {
                    console.log("error");
                });
        });
    });
</script>
{% endblock %}
