{% extends 'admin/admin.twig' %}

{% import 'macros/admin.twig' as admin %}

{% block style %}
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/tables.css" />
{% endblock %}

{% block subnav %}
    {% if has_access_permission(
        constants.admin.users.PERMISSION_GROUP,
        constants.admin.users.PERMISSION_KEY,
        permissions.ACCESS_LIST
        ) %}
        <div class="uk-float-left">
            {{ admin.back_btn(path_for(constants.admin.users.ROUTE_LIST), 'l') }}
        </div>
    {% endif %}

    {% if has_access_permission(
        constants.admin.users.PERMISSION_GROUP,
        constants.admin.users.PERMISSION_KEY,
        permissions.ACCESS_EDIT
        ) %}
        {{ admin.edit_btn(path_for(constants.admin.users.ROUTE_EDIT, {'user': user.id}), 'l') }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="uk-card uk-card-default uk-width-1-1@m uk-margin">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    <img class="uk-border-circle" width="100" height="100" src="/upload/avatar_3.jpg">
                </div>
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">{{ user.login }}</h3>
                    <p class="uk-text-meta uk-margin-remove-top">
                        <i class="fas fa-user-plus" title="Sign up date"></i> <time>{{ user.created_at }}</time>
                        <br>
                        <i class="fas fa-sync-alt" title="Update"></i> <time>{{ user.updated_at }}</time>
                    </p>
                </div>
            </div>
        </div>
        <div class="uk-card-body">
            <div f-table f-divider>
                <ul>
                    <li>Email</li>
                    <li>{{ user.email }}</li>
                </ul>
                <ul>
                    <li>Update At</li>
                    <li>{{ user.updated_at }}</li>
                </ul>
                <ul>
                    <li>Role</li>
                    <li>{{ user.role.name }}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
