{% extends 'base.twig' %}

{% import 'macros/forms.twig' as forms %}

{% block content %}
<div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
	{% include 'settings//tabs.twig' with {'href': currentHref} %}
	<form action="{{ form.getAction() }}" method="post" enctype="multipart/form-data">
		{{ csrf_token() }}
        {% set holder =
            '<div id="profile-img-tag" class="avatar__holder uk-margin"><img src="'
            ~ upload_url(user.avatar) ~
            '"></div>'
        %}
		{{ forms.element_file(form.avatar, holder) }}
		<div class="form-group">
			<input type="submit" class="uk-button uk-button-primary" value="{{ trans('buttons', 'save') }}">
		</div>
	</form>
</div>
{% endblock %}

{% block javascript %}
	<script type="text/javascript">
        $("#{{ form.avatar.getId() }}").change(function() {
            if (this.files && this.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#profile-img-tag').css('background-image', 'url(' + e.target.result + ')');
                }
                reader.readAsDataURL(this.files[0]);
            }
        });
	</script>
{% endblock %}
