{% extends 'base.twig' %}

{% import 'macros/forms.twig' as forms %}

{% block content %}
    <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
        {% include 'settings//tabs.twig' with {'href': currentHref} %}
        <ul uk-accordion="multiple: true">
            <li class="uk-open">
                <a class="uk-accordion-title" href="#">Item 1</a>
                <div class="uk-accordion-content uk-padding">
                    <form action="{{ emailForm.getAction() }}" method="post">
                        {{ csrf_token() }}
                        {{ forms.element_input(emailForm.email, {"label": true}) }}
                        <div class="form-group">
                            <input type="submit" class="uk-button uk-button-primary" value="{{ trans('buttons', 'save') }}">
                        </div>
                    </form>
                </div>
            </li>
            <li>
                <a class="uk-accordion-title" href="#">Item 2</a>
                <div class="uk-accordion-content uk-padding">
                    <form action="{{ passwordForm.getAction() }}" method="post">
                        {{ csrf_token() }}
                        <input style="display:none">
                        {{ forms.element_input(passwordForm.old_password, {"label": true}) }}
                        {{ forms.element_input(passwordForm.new_password, {"label": true}) }}
                        {{ forms.element_input(passwordForm.repeat_password, {"label": true}) }}
                        <div class="form-group">
                            <input type="submit" class="uk-button uk-button-primary" value="{{ trans('buttons', 'save') }}">
                        </div>
                    </form>
                </div>
            </li>
            <li>
                <a class="uk-accordion-title" href="#">Item 3</a>
                <div class="uk-accordion-content uk-padding">
                    <form action="{{ avatarForm.getAction() }}" method="post" enctype="multipart/form-data">
                        {{ csrf_token() }}
                        {% set holder =
                            '<div id="profile-img-tag" class="avatar__holder uk-margin"><img src="'
                            ~ upload_url(user.avatar) ~
                            '"></div>'
                        %}
                        {{ forms.element_file(avatarForm.avatar, holder) }}
                        <div class="form-group">
                            <input type="submit" class="uk-button uk-button-primary" value="{{ trans('buttons', 'save') }}">
                        </div>
                    </form>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $('#{{ avatarForm.avatar.getId() }}').change(function() {
            if (this.files && this.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#profile-img-tag').css('background-image', 'url(' + e.target.result + ')');
                };
                reader.readAsDataURL(this.files[0]);
            }
        });
	</script>
{% endblock %}