{% block style %}
	<link rel="stylesheet" href="{{ base_url() }}/assets/css/tables.css" />
{% endblock %}
	<div class="uk-child-width-1-2@m" uk-grid>
		{% for provider in socialNetworks %}
			<div>
				<div class="uk-card uk-card-secondary">
					<div class="uk-card-media-top uk-cover-container">
						<i class="fab fa-{{ social_get_icon(provider) }} fa-10x uk-margin-medium-left"></i>
					</div>
					<div class="uk-card-body">
						<h3 class="uk-card-title">{{ social_get_title(provider) }}</h3>
                        {% if userSocials[provider] is defined %}
							<form method="post">
                                {{ csrf_token() }}
								<input type="hidden" name="social" value="{{ userSocials[provider].id }}">
								<input
										type="submit"
										class="uk-button uk-button-secondary uk-button-small"
										value="{{ trans('settings', 'social_disconnect') }}"
								>
							</form>
                        {% else %}
							<a
									href="{{ path_for(constants.user.ROUTE_SOCIAL, {'provider': provider}) }}"
									class="uk-button uk-button-primary uk-button-small"
							>
                                {{ trans('settings', 'social_connect') }}
							</a>
                        {% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>