{% extends 'admin/admin.twig' %}

{% import 'macros/forms.twig' as forms %}

{% block content %}
<div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
    <form action="{{ form.getAction() }}" method="post">
        {{ csrf_token() }}
		{{ forms.element_input(form.name, {"label": true}) }}
		{{ forms.element_input(form.ip, {"label": true}) }}
		{{ forms.element_input(form.port, {"label": true}) }}
        <div class="form-group">
            {% if create %}
                <input type="submit" class="uk-button uk-button-primary hvr-grow" value="{{ trans('buttons', 'create') }}">
            {% else %}
                <input type="submit" class="uk-button uk-button-primary hvr-grow" value="{{ trans('buttons', 'update') }}">
            {% endif %}
            <a href="{{ path_for(constants.admin.servers.ROUTE_LIST) }}" class="uk-button uk-button-secondary">
                {{ trans('buttons', 'cancel') }}
            </a>
        </div>
    </form>
</div>
{% endblock %}
