{% extends 'admin/admin.twig' %}

{% import 'macros/admin.twig' as admin %}
{% import 'macros/paginator.twig' as paginator %}

{% block subnav %}
    {{ admin.add_btn(path_for(constants.admin.servers.ROUTE_CREATE), 'l') }}
{% endblock %}

{% block content %}
	<div class="uk-child-width-1-2@s" uk-grid>
        {% set hasPermissionsForView = has_access_permission(
            constants.admin.servers.PERMISSION_GROUP,
            constants.admin.servers.PERMISSION_KEY,
            permissions.ACCESS_VIEW
		) %}
        {% for server in servers %}
			<div>
				<div class="uk-card uk-card-default">
					<div class="uk-card-header">
						<div class="uk-grid-small uk-flex-middle" uk-grid>
							<div class="uk-width-expand">
								<h3 class="uk-card-title uk-margin-remove-bottom">
									{% if hasPermissionsForView %}
										<a href="{{ path_for(constants.admin.servers.ROUTE_VIEW, {'server': server.id}) }}">
											{{ server.name }}
										</a>
									{% else %}
                                        {{ server.name }}
									{% endif %}
								</h3>
								<p class="uk-text-meta uk-margin-remove-top">{{ server.ip }}:{{ server.port }}</p>
							</div>
						</div>
					</div>
					<div class="uk-card-body">
                        {% embed "admin/actions.twig" with {'actionId': server.id} %}
                            {% block actions %}
								<li>
                                    {% if has_access_resource(
										constants.admin.groups.PERMISSION_GROUP,
										constants.admin.groups.PERMISSION_KEY,
										server.id,
										permissions.ACCESS_LIST
                                    ) %}
										<a
											href="{{ path_for(constants.admin.groups.ROUTE_LIST, {'server': server.id}) }}"
											class="dropdown-item"
										>
											<i class="fas fa-users uk-margin-small-right"></i> &nbsp;{{ trans('admin_servers', 'groups') }}
										</a>
									{% endif %}
								</li>
								<li>
                                    {% if has_access_resource(
										constants.admin.reasons.PERMISSION_GROUP,
										constants.admin.reasons.PERMISSION_KEY,
										server.id,
										permissions.ACCESS_LIST
                                    ) %}
										<a
											href="{{ path_for(constants.admin.reasons.ROUTE_LIST, {'server': server.id}) }}"
											class="dropdown-item"
										>
											<i class="fas fa-tasks uk-margin-small-right"></i> &nbsp;{{ trans('admin_servers', 'reasons') }}
										</a>
                                    {% endif %}
								</li>
                            {% endblock %}
                        {% endembed %}

                        {% if has_access_permission(
                            constants.admin.servers.PERMISSION_GROUP,
                            constants.admin.servers.PERMISSION_KEY,
                            permissions.ACCESS_EDIT
						) %}
                        	{{ admin.edit_btn(path_for(constants.admin.servers.ROUTE_EDIT, {'server': server.id})) }}
						{% endif %}

                        {% if has_access_permission(
                            constants.admin.servers.PERMISSION_GROUP,
                            constants.admin.servers.PERMISSION_KEY,
                            permissions.ACCESS_DELETE
						) %}
                        	{{ admin.delete_btn(path_for(constants.admin.servers.ROUTE_DELETE, {'server': server.id})) }}
						{% endif %}
					</div>
				</div>
			</div>
        {% endfor %}
	</div>
	{{ paginator.render(pagination) }}
</div>
{% endblock %}
