{% extends 'admin/admin.twig' %}

{% import 'macros/admin.twig' as admin %}
{% import 'macros/paginator.twig' as paginator %}

{% block content %}
<div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
	<div class="uk-overflow-auto">
		<table class="uk-table uk-table-divider">
			<thead>
				<tr>
					<th>{{ trans('admin_servers', 'name') }}</th>
					<th>{{ trans('admin_servers', 'address') }}</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
			{% for server in servers %}
				<tr>
					<td class="text-nowrap">{{ server.name }}</td>
					<td class="text-nowrap">{{ server.ip }}:{{ server.port }}</td>
					<td class="text-nowrap">
                        {% embed "admin/actions.twig" with {'actionId': server.id} %}
                        	{% block actions %}
								<a href="{{ path_for('admin_servers_groups_list', {'server': server.id}) }}" class="dropdown-item">
									<span class="oi oi-grid-two-up"></span>&nbsp;{{ trans('admin_servers', 'groups') }}
								</a>
								<a href="{{ path_for('admin_servers_reasons_list', {'server': server.id}) }}" class="dropdown-item">
									<span class="oi oi-grid-two-up"></span>&nbsp;{{ trans('admin_servers', 'reasons') }}
								</a>
								<a
										href="#"
										class="dropdown-item"
										data-toggle="modal"
										data-target="#tokenModel"
										data-server-id="{{ server.id }}"
								>
									<span class="oi oi-info"></span>&nbsp;{{ trans('admin_servers', 'token') }}
								</a>
							{% endblock %}
                        {% endembed %}

						{{ admin.edit_btn(path_for('admin_servers_edit', {'server': server.id})) }}
						{{ admin.delete_btn(path_for('admin_servers_delete', {'server': server.id})) }}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	{{ paginator.render(pagination) }}
	<a href="{{ path_for('admin_servers_create') }}" class="btn btn-primary">{{ trans('buttons', 'create') }}</a>
</div>
{% endblock %}

{% block modals %}
    {{ parent() }}
	<div
			class="modal fade"
			id="tokenModel"
			tabindex="-1"
			role="dialog"
			aria-labelledby="tokenModalLabel"
			aria-hidden="true"
	>
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="tokenModalLabel">{{ trans('admin_servers', 'token') }}</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<input type="text" class="form-control" readonly>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">{{ trans('buttons', 'close') }}</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
	<script>
		$(document).ready(function () {
			$('#tokenModel').on('show.bs.modal', function(e) {
				var serverId = $(e.relatedTarget).data('server-id');
				var modal = $(this);
				$.getJSON('{{ path_for('admin_servers_token') }}', {server: serverId})
					.done(function(data) {
                        if (data.success) {
                            modal.find('.modal-body input').val(data.token);
                        }
					})
                    .fail(function() {
                        console.log("error");
                    });
			});
        });
	</script>
{% endblock %}
