{% extends 'base.twig' %}

{% import 'macros/forms.twig' as forms %}

{% block content %}
<form action="{{ form.getAction() }}" method="post">
    {{ csrf_token() }}
    {{ forms.element_input(form.login) }}
    {{ forms.element_input(form.email) }}
    {{ forms.element_input(form.password) }}
    {{ forms.element_input(form.password_repeat) }}
    <div class="form-group">
        <input type="submit" class="uk-button uk-button-primary" value="{{ trans('buttons', 'register') }}">
        <a href="{{ path_for('login') }}" class="uk-button uk-button-secondary>{{ trans('buttons', 'login') }}</a>
    </div>
</form>
{% endblock %}
