{% extends 'base.twig' %}

{% import 'macros/forms.twig' as forms %}

{% block content %}
<form action="{{ form.getAction() }}" method="post">
	{{ csrf_token() }}
	{{ forms.element_input(form.login) }}
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="{{ trans('buttons', 'reset_password') }}">
        <a href="{{ path_for('login') }}" class="btn btn-secondary">{{ trans('buttons', 'login') }}</a>
    </div>
</form>
{% endblock %}
