{% extends 'admin/admin.twig' %}

{% import 'macros/forms.twig' as forms %}

{% block content %}
<div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
    <form action="{{ form.getAction() }}" method="post">
        {{ csrf_token() }}
		{{ forms.element_select(form.group) }}
		{{ forms.element_input(form.prefix) }}

        <ul class="uk-subnav uk-subnav-pill" uk-switcher="animation: uk-animation-fade; toggle: > li; connect: #expired-switch-id">
            <li><a href="#">Forever</a></li>
            <li><a href="#">Time</a></li>
            <li><a href="#">Date</a></li>
        </ul>

        <input type="hidden" name="gender" id="expired-switch-input"/>

        <ul class="uk-switcher uk-margin" id="expired-switch-id">
            <li data-value="forever" data-input="#expired-switch-input">{{ forms.element_checkbox(form.forever) }}</li>
            <li data-value="for_time" data-input="#expired-switch-input">
                <div  class="uk-grid-small" uk-grid>
                    <div class="uk-width-1-6">
                        <select class="uk-select">
                            <option value="minutes">Minutes</option>
                            <option value="hours">Hours</option>
                            <option value="days">Days</option>
                        </select>
                    </div>
                    <div class="uk-width-1-6">
                        <input type="number" class="uk-input" >
                    </div>
                </div>
            </li>
            <li data-value="to_date" data-input="#expired-switch-input">{{ forms.element_datetime(form.expired, 'Y-m-d') }}</li>
        </ul>

        <style>
            .expire-switch label.uk-active {
                color: #44a1d1;
                background: transparent;
                border-bottom: 2px solid #44a1d1;
            }
        </style>

	    {% do require_asset('pickadate') %}

		{{ forms.element_checkbox(form.active) }}
        <div class="form-group">
			{% if create %}
                <input type="submit" class="uk-button uk-button-primary" value="{{ trans('buttons', 'create') }}">
			{% else %}
                <input type="submit" class="uk-button uk-button-primary" value="{{ trans('buttons', 'update') }}">
			{% endif %}
            <a href="{{ path_for(constants.admin.privileges.ROUTE_LIST, {
                'player': player.id
            }) }}" class="uk-button uk-button-secondary">
                {{ trans('buttons', 'cancel') }}
            </a>
        </div>
    </form>
</div>
{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script>
        UIkit.util.on('#expired-switch-id > li', 'show', function() {
            var self = $(this);
            $(self.data('input')).val(self.data('value'));
        });
        $( '.datepicker' ).pickadate({
            lang: 'ru',
            format: 'dd.mm.yyyy',
            formatSubmit: 'yyyy-mm-dd',
            //min: new Date(),
            closeOnSelect: true,
        });
    </script>
{% endblock %}