{% extends 'admin/admin.twig' %}

{% import 'macros/forms.twig' as forms %}

{% block content %}
<div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
    <form action="{{ form.getAction() }}" method="post">
        {{ csrf_token() }}
		{{ forms.element_select(form.group) }}
		{{ forms.element_input(form.prefix) }}

        {{ forms.element_expire(form.expired) }}

        <style>
            .expire-switch label.uk-active {
                color: #44a1d1;
                background: transparent;
                border-bottom: 2px solid #44a1d1;
            }
        </style>

		{{ forms.element_checkbox(form.active) }}
        <div class="form-group">
			{% if create %}
                <input type="submit" class="uk-button uk-button-primary" value="{{ trans('buttons', 'create') }}">
			{% else %}
                <input type="submit" class="uk-button uk-button-primary" value="{{ trans('buttons', 'update') }}">
			{% endif %}
            <a href="{{ path_for(constants.admin.privileges.ROUTE_LIST, {
                'player': player.id
            }) }}" class="uk-button uk-button-secondary">
                {{ trans('buttons', 'cancel') }}
            </a>
        </div>
    </form>
</div>
{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script>
        UIkit.util.on('#expired-switch-id > li', 'show', function() {
            var self = $(this);
            $(self.data('input')).val(self.data('value'));
        });
    </script>
{% endblock %}