{% macro circle_btn(config) %}
    <a
            href="{{ config.href }}"
            class="uk-icon-button uk-margin-small-right {{ config.size }}"
            data-toggle="tooltip"
            data-placement="top"
            title="{{ config.title }}"
            {% for key, value in config.attrs %}
                {{ key }}="{{ value }}"
            {% endfor %}
    ><i class="{{ config.icon }} fa-sm"></i></a>
{% endmacro %}

{% macro edit_btn(href, size = 'm') %}
    {{ _self.circle_btn({
            "href": href,
            "title": trans('buttons', 'edit'),
            "icon": "fas fa-pen",
            "size": size
    }) }}
{% endmacro %}

{% macro back_btn(href, size = 'm') %}
    {{ _self.circle_btn({
        "href": href,
        "title": trans('buttons', 'back'),
        "icon": "fas fa-angle-double-left",
        "size": size
    }) }}
{% endmacro %}

{% macro add_btn(href, size = 'm') %}
    {{ _self.circle_btn({
        "href": href,
        "title": trans('buttons', 'create'),
        "icon": "fas fa-plus",
        "size": size
    }) }}
{% endmacro %}

{% macro delete_btn(href, size = 'm') %}
	<form
			action="{{ href }}"
			method="post"
			class="form-inline delete-form"
	>
        {{ csrf_token() }}
		<button
				type="submit"
				class="uk-icon-button uk-margin-small-right {{ size }}"
				data-toggle="tooltip"
				data-placement="top"
				title="{{ trans('buttons', 'delete') }}"
		><i class="fas fa-trash fa-sm"></i></button>
	</form>
{% endmacro %}
