{% macro element_hidden(element) %}
	<input type="hidden" name="{{ element.getFormName() }}[{{ element.getName() }}]" value="{{ element.getValue() }}">
{% endmacro %}

{% macro element_input(element, config) %}
	{% set classes = ['uk-input'] %}
	{% if element.getHasError() %}
		{% set classes = classes|merge(['is-invalid']) %}
	{% endif %}
	{% set classes = classes|merge(element.getClasses()) %}
	{% set attributes = element.getAttributes() %}
	{% if element.getIsRequired() %}
		{% set attributes = attributes|merge({'required': 'required'}) %}
	{% endif %}

	<div class="uk-margin uk-inline uk-width-1-1">
        {% if config is null or config.label %}
        <label class="uk-form-label" for="{{ element.getId() }}">
	        {{ element.getTitle() }}
	        {% if element.getDescription() %}
		        <i class="fas fa-info" uk-tooltip="{{ element.getDescription() }}"></i>
	        {% endif %}
        </label>
        <div class="uk-form-controls">
        {% endif %}
		{% if config.icon %}
			<i class="uk-form-icon {{ config.icon }}"></i>
		{% endif %}
		<input
			type="{{ element.getType() }}"
			id="{{ element.getId() }}"
			name="{{ element.getFormName() }}[{{ element.getName() }}]"
			value="{{ element.getValue() }}"
			class="{{ classes | join(' ') }}"
			placeholder="{{ element.getTitle() }}"
			autocomplete="new-password"
		{% if element.getDisabled() %}
			disabled="disabled"
		{% endif %}
		{% for key, value in attributes %}
			{{ key }}="{{ value }}"
		{% endfor %}
		/>
		{% if element.getHasError() %}
			<span class="invalid-feedback">{{ element.getError() }}</span>
		{% endif %}
        {% if config.label %}
            </div>
        {% endif %}
	</div>
{% endmacro %}

{% macro element_datetime(element, format) %}
    {% set classes = ['uk-input'] %}
    {% if element.getHasError() %}
        {% set classes = classes|merge(['is-invalid']) %}
    {% endif %}
    {% set classes = classes|merge(element.getClasses()) %}
    {% set attributes = element.getAttributes() %}
    {% if element.getIsRequired() %}
        {% set attributes = attributes|merge({'required': 'required'}) %}
    {% endif %}
	<div class="uk-margin uk-inline uk-width-1-1">
		<label class="uk-form-label" for="{{ element.getId() }}">{{ element.getTitle() }}</label>
		<div class="uk-form-controls">
			<input
				type="{{ element.getType() }}"
				id="{{ element.getId() }}"
				name="{{ element.getFormName() }}[{{ element.getName() }}]"
				value="{{ element.format(format) }}"
				class="{{ classes | join(' ') }}"
			{% if element.getDisabled() %}
				disabled="disabled"
            {% endif %}
			{% for key, value in attributes %}
				{{ key }}="{{ value }}"
			{% endfor %}
			/>
			{% if element.getHasError() %}
				<span class="invalid-feedback">{{ element.getError() }}</span>
			{% endif %}
		</div>
	</div>
{% endmacro %}

{% macro element_expired(element, format) %}
	{% set forever = element.getValue() is null ? true : false %}
	<input
		type="hidden"
		id="{{ element.getId() }}"
		name="{{ element.getFormName() }}[{{ element.getName() }}]"
		value="{{ element.format(format) }}"
	>

	<div class="uk-margin uk-inline uk-width-1-1">
		<label class="switcher">
			<input
				type="checkbox"
				value="1"
				class="uk-checkbox"
				uk-toggle="target: #datepicker-{{ element.getId() }}"
				{% if forever %}
					checked
				{% endif %}
			/>
			<div class="switcher__indicator"></div>
			<span>{{ trans('admin_privileges', 'forever') }}</span>
		</label>
	</div>
	<div
		id="datepicker-{{ element.getId() }}"
		class="uk-card uk-card-secondary uk-card-body uk-width-1-1@m uk-margin-bottom"
		{% if forever %}hidden{% endif %}
	>
		<ul class="uk-subnav" uk-switcher>
			<li><a href="#">{{ trans('forms_macro', 'date') }}</a></li>
			<li><a href="#">{{ trans('forms_macro', 'period') }}</a></li>
		</ul>

		<ul class="uk-switcher uk-margin">
			<li>
				<div class="uk-margin uk-inline uk-width-1-1">
					<label class="uk-form-label" for="{{ element.getId() }}">{{ element.getTitle() }}</label>
					<div class="uk-form-controls">
						<input type="datetime-local" class="uk-input datepicker" />
					</div>
				</div>
			</li>
			<li uk-grid>
				<div class="uk-width-1-1@s uk-grid-small uk-child-width-auto uk-grid" uk-grid>
					<label class="uk-first-column"><input class="uk-radio" type="radio" name="radio2"> {{ trans('forms_macro', 'add') }}</label>
					<label><input class="uk-radio" type="radio" name="radio2" checked> {{ trans('forms_macro', 'set') }}</label>
				</div>
				<div class="uk-width-1-2@s">
					<input class="uk-input" type="number" placeholder="50">
				</div>
				<div class="uk-width-1-2@s">
					<select class="uk-select" id="form-horizontal-select">
						<option>{{ trans('date', 'seconds') }}</option>
						<option>{{ trans('date', 'minutes') }}</option>
						<option>{{ trans('date', 'hours') }}</option>
						<option>{{ trans('date', 'days') }}</option>
						<option>{{ trans('date', 'months') }}</option>
						<option>{{ trans('date', 'years') }}</option>
					</select>
				</div>
			</li>
		</ul>
{#		<a class="uk-button uk-button-primary"><i class="fas fa-calculator"></i></a>#}
	</div>
{% endmacro %}

{% macro element_checkbox(element, label = true) %}
	{% set classes = ['uk-checkbox'] %}
	{% if element.getHasError() %}
		{% set classes = classes|merge(['is-invalid']) %}
	{% endif %}
	{% set classes = classes|merge(element.getClasses()) %}
	{% set attributes = element.getAttributes() %}
	{% if element.getIsRequired() %}
		{% set attributes = attributes|merge({'required': 'required'}) %}
	{% endif %}
	<div class="uk-margin uk-inline uk-width-1-1">
		<label class="switcher">
			<input
				type="checkbox"
				id="{{ element.getId() }}"
				name="{{ element.getFormName() }}[{{ element.getName() }}]"
				value="1"
				class="{{ classes | join(' ') }}"
			{% if element.getDisabled() %}
				disabled="disabled"
            {% endif %}
			{% for key, value in attributes %}
				{{ key }}="{{ value }}"
			{% endfor %}
			{% if element.getValue() %}
				checked="checked"
			{% endif %}
			/>
			<div class="switcher__indicator"></div>
            {% if label %}
			<span>{{ element.getTitle() }}</span>
			{% endif %}
		</label>
	</div>
{% endmacro %}

{% macro element_select(element) %}
	{% set classes = ['uk-select','uk-form-width-large'] %}
	{% if element.getHasError() %}
		{% set classes = classes|merge(['is-invalid']) %}
	{% endif %}
	{% set classes = classes|merge(element.getClasses()) %}
	{% set attributes = element.getAttributes() %}
	{% if element.getIsRequired() %}
		{% set attributes = attributes|merge({'required': 'required'}) %}
	{% endif %}
	<div class="uk-margin uk-inline uk-width-1-1">
		<label class="uk-form-label" for="{{ element.getId() }}">{{ element.getTitle() }}</label>
		<div class="uk-form-controls">
			<select
				id="{{ element.getId() }}"
				name="{{ element.getFormName() }}[{{ element.getName() }}]"
				class="{{ classes | join(' ') }}"
			{% if element.getDisabled() %}
				disabled="disabled"
			{% endif %}
			{% for key, value in attributes %}
				{{ key }}="{{ value }}"
			{% endfor %}
			>
			{% if element.hasEmptyOption() %}
				<option value="">{{ element.getEmptyOption() }}</option>
			{% endif %}
			{% for key, value in element.getOptions() %}
				{% if element.getValue() is same as(key) %}
					<option value="{{ key }}" selected="selected">{{ value }}</option>
				{% else %}
					<option value="{{ key }}">{{ value }}</option>
				{% endif %}
			{% endfor %}
			</select>
			{% if element.getHasError() %}
				<span class="invalid-feedback">{{ element.getError() }}</span>
			{% endif %}
		</div>
	</div>
{% endmacro %}

{% macro element_file(element, holder = '') %}
    {% if element.getHasError() %}
        {% set classes = ['is-invalid'] %}
	{% else %}
        {% set classes = [] %}
    {% endif %}
    {% set classes = classes|merge(element.getClasses()) %}
    {% set attributes = element.getAttributes() %}
    {% if element.getIsRequired() %}
        {% set attributes = attributes|merge({'required': 'required'}) %}
    {% endif %}

	<div uk-form-custom="target: true">
		<input
			type="file"
			id="{{ element.getId() }}"
			name="{{ element.getFormName() }}[{{ element.getName() }}]"
			value="1"
			class="{{ classes | join(' ') }}"
		{% if element.getDisabled() %}
			disabled="disabled"
        {% endif %}
		{% for key, value in attributes %}
			{{ key }}="{{ value }}"
		{% endfor %}
		/>
        {% if holder %}
			{{ holder|raw }}
		{% else %}
			<input class="uk-input uk-form-width-medium" type="text" placeholder="{{ element.getTitle() }}" disabled>
		{% endif %}
		{% if element.getHasError() %}
			<span class="invalid-feedback">{{ element.getError() }}</span>
		{% endif %}
	</div>
{% endmacro %}

{% macro element_bitmask(element) %}
    {% set classes = ['uk-checkbox']|merge(element.getClasses()) %}
    {% set attributes = element.getAttributes() %}
	{% for value,label in element.getValues() %}
		<div class="uk-margin uk-inline uk-width-1-1">
			<label class="switcher">
				<input
					type="checkbox"
					name="{{ element.getFormName() }}[{{ element.getName() }}][]"
					value="{{ value }}"
					class="{{ classes | join(' ') }}"
				{% if element.getDisabled() %}
					disabled="disabled"
                {% endif %}
				{% for key, value in attributes %}
					{{ key }}="{{ value }}"
				{% endfor %}
				{% if element.getValue() %}
					checked="checked"
				{% endif %}
				/>
				<div class="switcher__indicator"></div>
				<span>{{ label }}</span>
			</label>
		</div>
	{% endfor %}
{% endmacro %}
