{% macro permission_checkboxes(form, name) %}
    {% set element = form.get(name) %}
    {% set perm_key = {1 : 'list', 2 : 'view', 4 : 'create', 8 : 'edit', 16 : 'delete'} %}
    {% if element %}
        <ul>
            <li class="uk-width-expand">
                {{ element.getTitle() }}
            </li>
            {% for access,val in perm_key %}
                <li class="uk-width-xxs@s uk-flex-middle" s-title="{{ trans('permissions', perm_key[access]) }}">
                    {{ _self.permission_checkbox(element, access) }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% macro permission_checkbox(element, access) %}
    <div class="uk-margin uk-inline uk-width-1-1">
        <label class="switcher">
            <input
                    type="checkbox"
                    id="{{ element.getId() ~ access }}"
                    name="{{ element.getFormName() }}[{{ element.getName() }}][]"
                    value="{{ access }}"
                    {% if element.hasAccess(access) %}
                        checked="checked"
                    {% endif %}
            />
            <div class="switcher__indicator"></div>
        </label>
    </div>
{% endmacro %}
