{% extends 'base.twig' %}

{% import 'macros/punishments.twig' as punishments_macro %}

{% block style %}
	<link rel="stylesheet" href="{{ base_url() }}/assets/css/tables.css" />
{% endblock %}

{% block content %}
<div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
	<div f-table f-divider>
		<ul th>
			<li class="uk-width-1-6@m uk-visible@s">{{ trans('punishments', 'player') }}</li>
			<li class="uk-width-1-6@m uk-visible@s">{{ trans('punishments', 'punisher') }}</li>
			<li class="uk-width-1-6@m uk-visible@s">{{ trans('punishments', 'server') }}</li>
			<li class="uk-width-1-6@m uk-visible@s">{{ trans('punishments', 'reason') }}</li>
			<li class="uk-width-1-6@m uk-visible@s">{{ trans('punishments', 'comment') }}</li>
			<li class="uk-width-1-6@m uk-visible@s">{{ trans('punishments', 'status') }}</li>
		</ul>
		{% for punishment in punishments %}
			<ul>
				<li class="uk-width-1-6@m uk-flex-middle">
					<div class="uk-margin-small-right">
                        {% if punishment.player.user.avatar %}
							<img class="uk-border-circle" width="30" height="30" src="{{ upload_url(punishment.player.user.avatar) }}">
                        {% else %}
							<img class="uk-border-circle" width="30" height="30" src="{{ base_url() }}/assets/images/user.svg" style="filter: invert(1);">
                        {% endif %}
					</div>
                    {{ punishment.player.nick }}
				</li>
				<li class="uk-width-1-6@m uk-flex-middle">
                    {{ punishments_macro.punisher(punishment) }}
				</li>
				<li class="uk-width-1-6@m uk-flex-middle">
                    {{ punishments_macro.server(punishment) }}
				</li>
				<li class="uk-width-1-6@m uk-flex-middle">
                    {{ punishments_macro.reason(punishment) }}
				</li>
				<li class="uk-width-1-6@m uk-flex-middle">
                    {{ punishments.comment(punishment) }}
				</li>
				<li class="uk-width-1-6@m uk-flex-middle">
                    {{ punishments_macro.status(punishment) }}
				</li>
			</ul>
		{% else %}
			<ul>
				<li>{{ trans('punishments', 'nothing_to_show') }}</li>
			</ul>
		{% endfor %}
	</div>
</div>
{% endblock %}
