{% import 'macros/navbar.twig' as navbar %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">
    <title>GameX™</title>
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/uikit.css" />
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/style.css" />
    <script src="{{ base_url() }}/assets/js/uikit.js"></script>
    <script src="{{ base_url() }}/assets/js/uikit-icons.js"></script>
    {% block style %}{% endblock %}
</head>
<body>
    <div class="uk-container">
        <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
            {{ navbar.mainbar(menu) }}
        </div>

<main role="main" class="container">
    {% for message in flash_messages.success %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}

    {% for message in flash_messages.error %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endfor %}

    {% block content %}{% endblock %}
</main>

        {% block modals %}{% endblock %}


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% block javascript %}{% endblock %}
    </div>
</body>
</html>

