{% extends 'admin/admin.twig' %}

{% import 'macros/forms.twig' as forms %}

{% block content %}
<div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
    <form action="{{ form.getAction() }}" method="post">
        {{ csrf_token() }}
        {{ forms.element_input(form.key) }}
        {{ forms.element_input(form.description) }}
        <div class="form-group">
            {% if create %}
                <input type="submit" class="uk-button uk-button-primary" value="{{ trans('buttons', 'create') }}">
            {% else %}
                <input type="submit" class="uk-button uk-button-primary" value="{{ trans('buttons', 'update') }}">
            {% endif %}

            {% if has_access_resource(
                constants.admin.reasons.PERMISSION_GROUP,
                constants.admin.reasons.PERMISSION_KEY,
                server.id,
                permissions.ACCESS_LIST
            ) %}
                <a
                    href="{{ path_for(constants.admin.servers.ROUTE_VIEW, {
                        'server': server.id
                    }, {'tab': 'reasons'}) }}"
                    class="uk-button uk-button-secondary"
                >
                    {{ trans('buttons', 'cancel') }}
                </a>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}
