{% extends 'base.twig' %}

{% block content %}
<div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
	<div class="uk-overflow-auto">
		<table class="uk-table uk-table-divider">
			<thead>
				<tr>
					<th>{{ trans('labels', 'server_name') }}</th>
					<th>{{ trans('labels', 'server_address') }}</th>
					<th>{{ trans('labels', 'server_map') }}</th>
					<th>{{ trans('labels', 'server_players') }}</th>
				</tr>
			</thead>
			<tbody>
				{% for server in servers %}
					<tr>
						<td class="text-nowrap">{{ server.name }}</td>
						<td class="text-nowrap">{{ server.ip }}:{{ server.port }}</td>
						{% if server.success %}
							<td>{{ server.map }}</td>
							<td>{{ server.players }}/{{ server.maxPlayers }}</td>
						{% else %}
							<td>-</td>
							<td>-</td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
