{% extends 'base.twig' %}

{% block style %}
	<link rel="stylesheet" href="{{ base_url() }}/assets/css/tables.css" />
{% endblock %}

{% block content %}
<div class="uk-child-width-1-1@m uk-grid-small" uk-grid>
	<div>
		<h2 class="uk-heading-line uk-text-center uk-text-uppercase"><span>Добро пожаловать</span></h2>
		<div uk-slider="center: true; autoplay: true">
			<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
				<ul class="uk-slider-items uk-child-width-1-1@s uk-grid">
                    {% for server in servers %}
						<li>
							<div class="uk-child-width-1-2@s uk-grid">
								<div>
									<div class="uk-card uk-margin">
										<div class="uk-inline">
											{% if server.online and server.map.exists() %}
												<img
													src="{{ base_url() }}/assets/images/maps/{{ server.map.name }}.jpg"
													alt="{{ server.map.name }}"
													onerror="this.onerror=null;this.src='{{ base_url() }}/assets/images/blank600x400.png';"
													class="border-10"
												>
											{% else %}
												<img src="{{ base_url() }}/assets/images/maps/cs_italy.jpg" alt="" class="border-10">
											{% endif %}

											<div class="uk-overlay uk-position-top uk-overlay-primary">
												<h3 class="uk-card-title">{{ server.name }}</h3>
											</div>
											<div class="uk-card-badge uk-label">
                                                {% if server.online %}
                                                    {{ server.map.exists() ? server.map.name : '-' }}
                                                {% else %}
													OFFLINE
                                                {% endif %}
											</div>
											{% if server.online %}
											<div class="uk-overlay uk-position-bottom uk-overlay-primary">
													<b>{{ trans('labels', 'server_address') }}</b>: <a href="steam://connect/{{ server.ip }}:{{ server.port }}">{{ server.ip }}:{{ server.port }}</a>
													<br>
													<b>{{ trans('labels', 'server_players') }}</b>:
													{{ server.num_players  }}/{{ server.max_players }}
											</div>
											{% endif %}
										</div>
									</div>
								</div>
								<div>
									<div class="uk-card uk-card-default uk-margin">
										<div class="uk-card-header">
											<h3 class="uk-card-title"><i class="fas fa-history"></i> Список игроков</h3>
										</div>
										<div class="uk-card-body">
											{% if server.online %}
												{% set players = server.getActiveSessions() %}
												{% if players | length > 0 %}
													<table class="uk-table uk-table-striped">
														<tr>
															<th>Nick</th>
															<th>Joined</th>
															<th>Online</th>
														</tr>
														{% for session in players %}
														<tr>
															<td>{{ session.player.nick }}</td>
															<td>{{ session.created_at }}</td>
															<td>{{ session.online }}</td>
														</tr>
														{% endfor %}
													</table>
												{% endif %}
											{% endif %}
										</div>
									</div>
								</div>
							</div>
						</li>
                    {% endfor %}
				</ul>
				<a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
				<a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
			</div>
			<ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
		</div>
	</div>
</div>
<div class="uk-grid-small uk-child-width-expand@s uk-margin" uk-grid>
	<div>
		<div class="uk-card uk-card-default">
			<div class="uk-card-header">
				<h3 class="uk-card-title"><i class="fas fa-history"></i> Последние наказания</h3>
			</div>
			<div class="uk-card-body">
				<div f-table f-divider>
					<ul th>
						<li class="uk-width-1-2@m uk-width-1-1@s uk-visible@s">Nick</li>
						<li class="uk-width-1-2@m uk-width-1-1@s uk-visible@s">Reason</li>
					</ul>
					<ul>
						<li class="uk-width-1-2@m uk-width-1-1@s" s-title="Nick">fdfsf</li>
						<li class="uk-width-1-2@m uk-width-1-1@s" s-title="Reason">sdfsd</li>
					</ul>
					<ul>
						<li class="uk-width-1-2@m uk-width-1-1@s" s-title="Nick">fdfsf</li>
						<li class="uk-width-1-2@m uk-width-1-1@s" s-title="Reason">sdfsd</li>
					</ul>
					<ul>
						<li class="uk-width-1-2@m uk-width-1-1@s" s-title="Nick">fdfsf</li>
						<li class="uk-width-1-2@m uk-width-1-1@s" s-title="Reason">sdfsd</li>
					</ul>
					<ul>
						<li class="uk-width-1-2@m uk-width-1-1@s" s-title="Nick">fdfsf</li>
						<li class="uk-width-1-2@m uk-width-1-1@s" s-title="Reason">sdfsd</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="uk-card uk-card-default">
			<div class="uk-card-header">
				<h3 class="uk-card-title"><i class="fas fa-history"></i> Последние наказания</h3>
			</div>
			<div class="uk-card-body">
				<div f-table f-divider>
					<ul th>
						<li class="uk-width-1-2@m uk-width-1-1@s uk-visible@s">Nick</li>
						<li class="uk-width-1-2@m uk-width-1-1@s uk-visible@s">Reason</li>
					</ul>
					<ul>
						<li class="uk-width-1-2@m uk-width-1-1@s" s-title="Nick">fdfsf</li>
						<li class="uk-width-1-2@m uk-width-1-1@s" s-title="Reason">sdfsd</li>
					</ul>
					<ul>
						<li class="uk-width-1-2@m uk-width-1-1@s" s-title="Nick">fdfsf</li>
						<li class="uk-width-1-2@m uk-width-1-1@s" s-title="Reason">sdfsd</li>
					</ul>
					<ul>
						<li class="uk-width-1-2@m uk-width-1-1@s" s-title="Nick">fdfsf</li>
						<li class="uk-width-1-2@m uk-width-1-1@s" s-title="Reason">sdfsd</li>
					</ul>
					<ul>
						<li class="uk-width-1-2@m uk-width-1-1@s" s-title="Nick">fdfsf</li>
						<li class="uk-width-1-2@m uk-width-1-1@s" s-title="Reason">sdfsd</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{% if is_guest() %}
</div>
	<div class="uk-section uk-section-dark uk-margin-large-bottom">
		<div class="uk-container">
			<h3 class="uk-heading-line uk-text-center"><span>Мало информации?</span></h3>
			<div class="uk-flex uk-flex-middle uk-flex-center uk-child-width-1-4">
				<div class="uk-text-center">
					Войдите, чтобы узнать больше информации<br>
					<button class="uk-button uk-button-primary uk-button-small uk-margin">Войти</button><br>
					Или <a href="">присоединяйтесь</a> к GameX бесплатно
				</div>
			</div>
			<hr>
		</div>
	</div>
<div class="uk-container">
{% endif %}
{% endblock %}
