{% extends 'base.twig' %}

{% block content %}
<div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
	<div class="uk-overflow-auto">
		<table class="uk-table uk-table-divider">
			<thead>
				<tr>
					<th>Name</th>
					<th>Address</th>
					<th>Map</th>
					<th>Players</th>
				</tr>
			</thead>
			<tbody>
				{% for server in servers %}
					<tr>
						<td class="text-nowrap">{{ server.name }}</td>
						<td class="text-nowrap">{{ server.ip }}:{{ server.port }}</td>
						<td>{{ server.map.name }}</td>
						<td>{{ players_online[server.id] | length }} / {{ server.max_players }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
