<div class="uk-card uk-card-default">
	<div class="uk-card-header">
		<h3 class="uk-card-title main-title">{{ trans('punishments', 'last_title') }}</h3>
	</div>
	<div class="uk-card-body">
		<div f-table f-divider>
			<ul th>
				<li class="uk-width-1-2@m uk-width-1-1@s uk-visible@s">{{ trans('punishments', 'player') }}</li>
				<li class="uk-width-1-2@m uk-width-1-1@s uk-visible@s">{{ trans('punishments', 'reason') }}</li>
			</ul>
			{% for punishment in punishments %}
				<ul>
					<li class="uk-width-1-2@m uk-width-1-1@s" s-title="{{ trans('punishments', 'player') }}">{{ punishment.player.nick }}</li>
					<li class="uk-width-1-2@m uk-width-1-1@s" s-title="{{ trans('punishments', 'reason') }}">{{ punishments_macro.reason(punishment) }}</li>
				</ul>
			{% else %}
				<ul>
					<li class="uk-width-1-2@m uk-width-1-1@s">{{ trans('punishments', 'nothing_to_show') }}</li>
				</ul>
			{% endfor %}
		</div>
	</div>
</div>