{% extends 'admin/admin.twig' %}

{% import 'macros/admin.twig' as admin %}
{% import 'macros/paginator.twig' as paginator %}

{% block subnav %}
    <div class="uk-float-left">
        {{ admin.back_btn(path_for('admin_index'), 'l') }}
    </div>
    {% if has_access_permission(
        constants.admin.players.PERMISSION_GROUP,
        constants.admin.players.PERMISSION_KEY,
        permissions.ACCESS_EDIT
    ) %}
        {{ admin.add_btn(path_for(constants.admin.players.ROUTE_CREATE), 'l') }}
    {% endif %}
{% endblock %}

{% block content %}
<div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
    <form action="{{ path_for(constants.admin.players.ROUTE_LIST) }}" method="get">
        <div class="uk-button-group uk-width-1-2@m">
        <input class="uk-input uk-width-3-4" type="text" name="filter" value="{{ filter }}">
            <div class="uk-inline">
                 <button type="submit" class="uk-button uk-button-secondary"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </form>
    <div class="uk-overflow-auto">
        <table class="uk-table uk-table-divider">
            <thead>
                <tr>
                    <th>{{ trans('admin_players', 'steam_id') }}</th>
                    <th>{{ trans('admin_players', 'nickname') }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for player in players %}
                <tr>
                    <td class="text-nowrap">
                        <a
                            href="{{ path_for(constants.admin.players.ROUTE_VIEW, {
                                'player': player.id
                            }) }}"
                        >
                            {{ player.steamid }}
                        </a>
                    </td>
                    <td class="text-nowrap">{{ player.nick }}</td>
                    <td class="text-nowrap">
                        {% if has_access_permission(
                            constants.admin.players.PERMISSION_GROUP,
                            constants.admin.players.PERMISSION_KEY,
                            permissions.ACCESS_EDIT
                        ) %}
                            {{ admin.edit_btn(
                                path_for(constants.admin.players.ROUTE_EDIT, {
                                    'player': player.id
                                })
                            ) }}
                        {% endif %}

                        {% if has_access_permission(
                            constants.admin.players.PERMISSION_GROUP,
                            constants.admin.players.PERMISSION_KEY,
                            permissions.ACCESS_DELETE
                        ) %}
                            {{ admin.delete_btn(
                                path_for(constants.admin.players.ROUTE_DELETE, {
                                    'player': player.id
                                })
                            ) }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
	{{ paginator.render(pagination) }}
</div>
{% endblock %}
