{% extends 'admin/admin.twig' %}

{% import 'macros/admin.twig' as admin %}
{% import 'macros/punishments.twig' as punishmentsMacros %}

{% block title %}{{ parent() }} | {{ trans('admin_menu', 'players') }} | {{ player.nick }}{% endblock %}

{% block subnav %}
    {% if has_access_permission(
        constants.admin.players.PERMISSION_GROUP,
        constants.admin.players.PERMISSION_KEY,
        permissions.ACCESS_LIST
    ) %}
        <div class="uk-float-left">
            {{ admin.back_btn(path_for(constants.admin.players.ROUTE_LIST), 'l') }}
        </div>
    {% endif %}

    {% if has_access_permission(
        constants.admin.players.PERMISSION_GROUP,
        constants.admin.players.PERMISSION_KEY,
        permissions.ACCESS_EDIT
    ) %}
        {{ admin.edit_btn(path_for(constants.admin.players.ROUTE_EDIT, {'player': player.id}), 'l') }}
    {% endif %}

    {% if has_access_permission(
        constants.admin.players.PERMISSION_GROUP,
        constants.admin.players.PERMISSION_KEY,
        permissions.ACCESS_DELETE
    ) %}
        {{ admin.delete_btn(path_for(constants.admin.players.ROUTE_DELETE, {'player': player.id}), 'l') }}
    {% endif %}
{% endblock %}

{% block content %}

<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-1@s" uk-grid>
    <div>
        <div class="uk-card-body">
            <div class="uk-grid-divider" uk-grid>
                <div class="uk-width-1-2@m uk-width-1-2@s">
                    <h2>{{ player.nick }}</h2>
                </div>
                <div class="uk-width-1-2@m uk-width-1-2@s">
                    {% if last_session %}
                    Last join: {{ datetime.datetime(last_session.created_at) }}<br>
                    {% endif %}
                    {% if last_session and last_session.status == 'online' %}
                        {{ trans('admin_players', 'status') }}: Online
                        <br>
                        Server: {{ last_session.server.name }}
                    {% else %}
                        {{ trans('admin_players', 'status') }}: Offline
                    {% endif %}
                </div>
            </div>

            <div class="uk-card uk-card-secondary uk-grid-collapse uk-child-width-1-1@s uk-margin" uk-grid>
                <div>
                    <div class="uk-card-body uk-padding-small">
                        <div class="uk-overflow-auto">
                            <ul class="uk-flex-left uk-flex-nowrap" uk-tab="connect: #player-info;animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium">
                                <li {% if tab == 'info' %}class="uk-active"{% endif %}>
                                    <a href="#">{{ trans('admin_players', 'info') }}</a>
                                </li>
                                {% if hasAccessToPrivileges %}
                                    <li {% if tab == 'privileges' %}class="uk-active"{% endif %}>
                                        <a href="#">{{ trans('admin_privileges', 'privileges') }}</a>
                                    </li>
                                {% endif %}
                                {% if hasAccessToPunishments %}
                                <li {% if tab == 'punishments' %}class="uk-active"{% endif %}>
                                    <a href="#">{{ trans('admin_punishments', 'punishments') }}</a>
                                </li>
                                {% endif %}
                                <li><a href="#">{{ trans('admin_players', 'sessions') }}</a></li>
                            </ul>
                        </div>
                        <ul id="player-info" class="uk-switcher uk-margin">
                            <li>
                                <div f-table f-divider>
                                    <ul>
                                        <li class="uk-width-1-2@m uk-width-1-2@s">{{ trans('admin_players', 'steam_id') }}</li>
                                        <li class="uk-width-1-2@m uk-width-1-2@s">{{ player.steamid }}</li>
                                    </ul>
                                    <ul>
                                        <li class="uk-width-1-2@m uk-width-1-2@s">{{ trans('admin_players', 'ip') }}</li>
                                        <li class="uk-width-1-2@m uk-width-1-2@s">{{ player.ip }}</li>
                                    </ul>
                                    {% if has_access_permission(
                                        constants.admin.users.PERMISSION_GROUP,
                                        constants.admin.users.PERMISSION_KEY,
                                        premissions.ACCESS_VIEW
                                    ) %}
                                        <ul>
                                            <li class="uk-width-1-2@m uk-width-1-2@s">{{ trans('admin_players', 'user') }}</li>
                                            <li class="uk-width-1-2@m uk-width-1-2@s">
                                                {% if player.user_id %}
                                                    <a href="{{ path_for(constants.admin.users.ROUTE_VIEW, {'user': player.user.id}) }}">
                                                        {{ player.user.login }}
                                                    </a>
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </li>
                                        </ul>
                                    {% endif %}
                                    <ul>
                                        <li class="uk-width-1-2@m uk-width-1-2@s">{{ trans('labels', 'created_at') }}</li>
                                        <li class="uk-width-1-2@m uk-width-1-2@s">{{ datetime.datetime(player.created_at) }}</li>
                                    </ul>
                                    <ul>
                                        <li class="uk-width-1-2@m uk-width-1-2@s">{{ trans('labels', 'updated_at') }}</li>
                                        <li class="uk-width-1-2@m uk-width-1-2@s">{{ datetime.datetime(player.created_at) }}</li>
                                    </ul>
                                </div>
                            </li>
                            {% if hasAccessToPrivileges %}
                            <li>
                                <div f-table f-divider>
                                    {% for serverId, serverData in privileges %}
                                        <ul th uk-sticky="offset: 80">
                                            <li class="uk-width-expand"><h3>{{ serverData.name }}</h3></li>
                                            <li class="uk-width-xxs">
                                                {% if has_access_resource(
                                                    constants.admin.privileges.PERMISSION_GROUP,
                                                    constants.admin.privileges.PERMISSION_KEY,
                                                    serverId,
                                                    permissions.ACCESS_CREATE
                                                ) %}
                                                    {{ admin.add_btn(
                                                        path_for(constants.admin.privileges.ROUTE_CREATE, {
                                                            'player': player.id,
                                                            'server': serverId
                                                        })
                                                    ) }}
                                                {% endif %}
                                            </li>
                                        </ul>
                                        {% for privilege in serverData.list %}
                                            <ul>
                                                <li class="uk-width-expand">
                                                    {{ privilege.group.title }}
                                                </li>
                                                <li class="uk-width-expand">
                                                    {% if privilege.expired_at is null %}
                                                        {{ trans('admin_privileges', 'forever') }}
                                                    {% else %}
                                                        {{ datetime.datetime(privilege.expired_at) }}
                                                    {% endif %}
                                                </li>
                                                <li class="uk-width-expand">
                                                    {{ privilege.prefix }}
                                                </li>

                                                {% if has_access_resource(
                                                    constants.admin.privileges.PERMISSION_GROUP,
                                                    constants.admin.privileges.PERMISSION_KEY,
                                                    serverId,
                                                    permissions.ACCESS_EDIT
                                                ) %}
                                                    <li class="uk-width-xxs">
                                                        {{ admin.edit_btn(
                                                            path_for(constants.admin.privileges.ROUTE_EDIT, {
                                                                'player': player.id,
                                                                'privilege' : privilege.id
                                                            })
                                                        ) }}
                                                    </li>
                                                {% endif %}

                                                {% if has_access_resource(
                                                    constants.admin.privileges.PERMISSION_GROUP,
                                                    constants.admin.privileges.PERMISSION_KEY,
                                                    serverId,
                                                    permissions.ACCESS_DELETE
                                                ) %}
                                                    <li class="uk-width-xxs">
                                                        {{ admin.delete_btn(
                                                            path_for(constants.admin.privileges.ROUTE_DELETE, {
                                                                'player': player.id,
                                                                'privilege' : privilege.id
                                                            })
                                                        ) }}
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        {% else %}
                                            <ul>
                                                <li>{{ trans('admin_privileges', 'empty_list') }}</li>
                                            </ul>
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            </li>
                            {% endif %}

                            {% if hasAccessToPunishments %}
                            <li>
                                <div f-table f-divider>
                                    {% for serverId, serverData in punishments %}
                                        <ul th uk-sticky="offset: 80">
                                            <li class="uk-width-expand"><h3>{{ serverData.name }}</h3></li>
                                            <li class="uk-width-xxs">
                                                {% if has_access_resource(
                                                    constants.admin.punishments.PERMISSION_GROUP,
                                                    constants.admin.punishments.PERMISSION_KEY,
                                                    serverId,
                                                    permissions.ACCESS_CREATE
                                                ) %}
                                                    {{ admin.add_btn(
                                                        path_for(constants.admin.punishments.ROUTE_CREATE, {
                                                            'player': player.id,
                                                            'server': serverId
                                                        })
                                                    ) }}
                                                {% endif %}
                                            </li>
                                        </ul>
                                        <ul th>
                                            <li class="uk-width-1-6@m uk-width-1-6@s uk-visible@s">{{ trans('admin_punishments', 'punisher') }}</li>
                                            <li class="uk-width-1-6@m uk-width-1-6@s uk-visible@m">{{ trans('admin_punishments', 'reason') }}</li>
                                            <li class="uk-width-expand@m uk-width-expand@s uk-visible@m">{{ trans('admin_punishments', 'details') }}</li>
                                            <li class="uk-width-1-6@m uk-width-1-6@s uk-visible@m">{{ trans('admin_punishments', 'status') }}</li>
                                            <li class="uk-width-1-6@m uk-width-1-6@s"></li>
                                        </ul>
                                        {% for punishment in serverData.list %}
                                            <ul>
                                                <li class="uk-width-1-6@m uk-width-1-6@s uk-visible@s">{{ punishmentsMacros.punisher(punishment) }}</li>
                                                <li class="uk-width-1-6@m uk-width-1-6@s uk-visible@m">{{ punishmentsMacros.reason(punishment) }}</li>
                                                <li class="uk-width-expand@m uk-width-expand@s">{{ punishmentsMacros.details(punishment) }}</li>
                                                <li class="uk-width-1-6@m uk-width-1-6@s">{{ punishmentsMacros.status(punishment) }}</li>

                                                <li class="uk-width-1-6@m uk-width-1-6@s">
                                                    {{ admin.circle_btn({
                                                        'href': path_for(constants.admin.punishments.ROUTE_VIEW, {
                                                            'player': player.id,
                                                            'punishment': punishment.id
                                                        }),
                                                        'title': trans('buttons', 'view'),
                                                        'icon': "fas fa-eye",
                                                        'size': 'm'
                                                    }) }}

                                                    {% if has_access_resource(
                                                        constants.admin.punishments.PERMISSION_GROUP,
                                                        constants.admin.punishments.PERMISSION_KEY,
                                                        punishment.server_id,
                                                        permissions.ACCESS_EDIT
                                                    ) %}
                                                        {{ admin.edit_btn(
                                                            path_for(constants.admin.punishments.ROUTE_EDIT, {
                                                                'player': player.id,
                                                                'punishment': punishment.id
                                                            })
                                                        ) }}
                                                    {% endif %}

                                                    {% if punishment.status != 'amnestied' and has_access_resource(
                                                        constants.admin.punishments.PERMISSION_GROUP,
                                                        constants.admin.punishments.PERMISSION_KEY,
                                                        punishment.server_id,
                                                        permissions.ACCESS_EDIT
                                                    ) %}
                                                        {{ admin.form_btn(
                                                            trans('admin_punishments', 'amnesty'),
                                                            path_for(constants.admin.punishments.ROUTE_AMNESTY, {
                                                                'player': player.id,
                                                                'punishment': punishment.id
                                                            }),
                                                            '',
                                                            'fa-unlock',
                                                            'm'
                                                        ) }}
                                                    {% endif %}

                                                    {% if has_access_resource(
                                                        constants.admin.punishments.PERMISSION_GROUP,
                                                        constants.admin.punishments.PERMISSION_KEY,
                                                        punishment.server_id,
                                                        permissions.ACCESS_DELETE
                                                    ) %}
                                                        {{ admin.delete_btn(
                                                            path_for(constants.admin.punishments.ROUTE_DELETE, {
                                                                'player': player.id,
                                                                'punishment': punishment.id
                                                            })
                                                        ) }}
                                                    {% endif %}
                                                </li>
                                            </ul>
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            </li>
                            {% endif %}
                            <li>
                                <div class="uk-card-body">
                                    <div f-table f-divider>
                                        <ul th>
                                            <li class="uk-width-1-6@m uk-width-1-6@s">{{ trans('admin_servers', 'name') }}</li>
                                            <li class="uk-width-1-6@m uk-width-1-6@s">{{ trans('admin_players', 'session_created') }}</li>
                                            <li class="uk-width-1-6@m uk-width-1-6@s">{{ trans('admin_players', 'session_time') }}</li>
                                        </ul>
                                        {% for session in player.sessions %}
                                            <ul>
                                                <li class="uk-width-1-6@m uk-width-1-6@s">{{ session.server.name }}</li>
                                                <li class="uk-width-1-6@m uk-width-1-6@s">{{ datetime.datetime(session.created_at) }}</li>
                                                <li class="uk-width-1-6@m uk-width-1-6@s">{{ session.online }}</li>
                                            </ul>
                                        {% endfor %}
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
