{% extends 'base.twig' %}

{% import 'macros/forms.twig' as forms %}

{% block content %}
<form action="{{ form.getAction() }}" method="post">
    {{ csrf_token() }}
    {{ forms.element_input(form.login) }}
    {{ forms.element_input(form.password) }}
    {{ forms.element_checkbox(form.remember_me) }}
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="{{ trans('buttons', 'login') }}">
        {% if enabledEmail %}
            <a href="{{ path_for('reset_password') }}" class="btn btn-warning">{{ trans('buttons', 'reset_password') }}</a>
        {% endif %}
        <a href="{{ path_for('register') }}" class="btn btn-success">{{ trans('buttons', 'register') }}</a>
    </div>
</form>
{% endblock %}
