{% extends 'base.twig' %}

{% import 'macros/forms.twig' as forms %}

{% block content %}
<form action="{{ form.getAction() }}" method="post">
    {{ csrf_token() }}
    {{ forms.element_input(form.email) }}
    {{ forms.element_input(form.password) }}
    {{ forms.element_checkbox(form.remember_me) }}
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="{{ trans('Auth', 'login_btn') }}">

        <a href="{{ path_for('reset_password') }}" class="btn btn-warning">Reset password</a>
        <a href="{{ path_for('register') }}" class="btn btn-success">Register</a>
    </div>
</form>
{% endblock %}
