{% extends 'base.twig' %}

{% block content %}
<form action="{{ form_action(form) }}" method="post">
    {{ csrf_token() }}
    <div class="form-group">
        {{ form_label(form, 'email') }}
        {{ form_input(form, 'email') }}
        {{ form_error(form, 'email') }}
    </div>
    <div class="form-group">
        {{ form_label(form, 'password') }}
        {{ form_input(form, 'password') }}
        {{ form_error(form, 'password') }}
    </div>
    <div class="form-group">
        <div class="custom-control custom-checkbox">
            {{ form_input(form, 'remember_me') }}
            {{ form_label(form, 'remember_me') }}
        </div>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="{{ trans('Auth', 'login_btn') }}">

        <a href="{{ path_for('reset_password') }}" class="btn btn-warning">Reset password</a>
        <a href="{{ path_for('register') }}" class="btn btn-success">Register</a>
    </div>
</form>
{% endblock %}
