{% extends 'base.twig' %}

{% block content %}
<form action="{{ path_for('login') }}" method="post">
    <div class="row">
        <div class="input-field col s12">
            {{ form_label(form, 'email') }}
            {{ form_input(form, 'email') }}
            {{ form_error(form, 'email') }}
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            {{ form_label(form, 'password') }}
            {{ form_input(form, 'password') }}
            {{ form_error(form, 'password') }}
        </div>
    </div>
    <div class="row">
        <input type="submit" class="btn" value="Login">

        <a href="{{ path_for('reset_password') }}" class="btn red">Reset password</a>
        <a href="{{ path_for('register') }}" class="btn blue">Register</a>
    </div>
</form>
{% endblock %}
