{% extends 'base.twig' %}

{% block content %}
<form action="{{ form_action(form) }}" method="post">
    {{ csrf_token() }}
    <div class="form-group">
        {{ form_label(form, 'email') }}
        {{ form_input(form, 'email') }}
        {{ form_error(form, 'email') }}
    </div>
    <div class="form-group">
        {{ form_label(form, 'password') }}
        {{ form_input(form, 'password') }}
        {{ form_error(form, 'password') }}
    </div>
    <div class="form-group">
        {{ form_label(form, 'password_repeat') }}
        {{ form_input(form, 'password_repeat') }}
        {{ form_error(form, 'password_repeat') }}
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Register">
        <a href="{{ path_for('login') }}" class="btn btn-secondary">Login</a>
    </div>
</form>
{% endblock %}
