{% extends 'base.twig' %}

{% block content %}
<form action="{{ form_action(form) }}" method="post">
    {{ csrf_token() }}
    <div class="row">
        <div class="input-field col s12">
            {{ form_label(form, 'email') }}
            {{ form_input(form, 'email') }}
            {{ form_error(form, 'email') }}
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            {{ form_label(form, 'password') }}
            {{ form_input(form, 'password') }}
            {{ form_error(form, 'password') }}
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            {{ form_label(form, 'password_repeat') }}
            {{ form_input(form, 'password_repeat') }}
            {{ form_error(form, 'password_repeat') }}
        </div>
    </div>
    <div class="row">
        <input type="submit" class="btn" value="Register">
        <a href="{{ path_for('login') }}" class="btn blue">Login</a>
    </div>
</form>
{% endblock %}
