{% extends 'base.twig' %}

{% import 'forms.twig' as forms %}

{% block content %}
<form action="{{ form.getAction }}" method="post">
    {{ csrf_token() }}
    {{ forms.element_input(form.email) }}
    {{ forms.element_input(form.password) }}
    {{ forms.element_input(form.password_repeat) }}
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Register">
        <a href="{{ path_for('login') }}" class="btn btn-secondary">Login</a>
    </div>
</form>
{% endblock %}
