{% extends 'base.twig' %}

{% block content %}
<form action="{{ path_for('reset_password') }}" method="post">
	{{ csrf_token() }}
    <div class="row">
        <div class="input-field col s12">
            {{ form_label(form, 'email') }}
            {{ form_input(form, 'email') }}
            {{ form_error(form, 'email') }}
        </div>
    </div>
    <div class="row">
        <input type="submit" class="btn" value="Reset">
        <a href="{{ path_for('login') }}" class="btn blue">Login</a>
    </div>
</form>
{% endblock %}
