{% extends 'base.twig' %}

{% import 'macros/forms.twig' as forms %}

{% block content %}
<form action="{{ form.getAction() }}" method="post">
    {{ csrf_token() }}
	{{ forms.element_input(form.email) }}
	{{ forms.element_input(form.password) }}
	{{ forms.element_input(form.password_repeat) }}
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="{{ trans('buttons', 'change_password') }}">
    </div>
</form>
{% endblock %}
