{% extends 'admin/admin.twig' %}

{% import 'macros/admin.twig' as admin %}

{% block style %}
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/tables.css" />
{% endblock %}

{% block subnav %}
    <div class="uk-float-left">
        {{ admin.back_btn(path_for('admin_players_list'), 'l') }}
    </div>
{% endblock %}

{% block content %}
    <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
        <div f-table f-divider>
            {% for serverId, serverData in data %}
                <ul th uk-sticky="offset: 80" style="background: #263137;">
                    <li class="uk-width-expand"><h3>{{ serverData.name }}</h3></li>
                    <li class="uk-width-xxs">
                        {{ admin.add_btn(
                            path_for(routes.admin.privileges.ROUTE_CREATE, {
                                'player': player.id,
                                'server': serverId
                            })
                        ) }}
                    </li>
                </ul>
                {% for privilege in serverData.privileges %}
                    <ul>
                        <li class="uk-width-expand">
                            {{ privilege.group.title }}
                        </li>
                        <li class="uk-width-expand">
                            {{ privilege.expired_at }}
                        </li>
                        <li class="uk-width-expand">
                            {{ privilege.prefix }}
                        </li>
                        <li class="uk-width-xxs">
                            {{ admin.edit_btn(
                                path_for(routes.admin.privileges.ROUTE_EDIT, {
                                    'player': player.id,
                                    'privilege' : privilege.id
                                })
                            ) }}
                        </li>
                        <li class="uk-width-xxs">
                            {{ admin.delete_btn(
                                path_for(routes.admin.privileges.ROUTE_DELETE, {
                                    'player': player.id,
                                    'privilege' : privilege.id
                                })
                            ) }}
                        </li>
                    </ul>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
