{% extends 'admin/admin.twig' %}

{% import 'macros/admin.twig' as admin %}
{% import 'macros/paginator.twig' as paginator %}

{% block subnav %}
    <div class="uk-float-left">
        {{ admin.back_btn(path_for('admin_players_list'), 'l') }}
    </div>
    {{ admin.add_btn(path_for('admin_players_privileges_create', {'player': player.id}), 'l') }}
{% endblock %}

{% block content %}
<div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
    <div class="uk-overflow-auto">
        <table class="uk-table uk-table-divider">
            <thead>
                <tr>
                    <th>Server</th>
                    <th>Group</th>
                    <th>Prefix</th>
                    <th>Expired</th>
                    <th>Active</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for privilege in privileges %}
                <tr>
                    <td class="text-nowrap">{{ privilege.group.server.name }}</td>
                    <td class="text-nowrap">{{ privilege.group.title }}</td>
                    <td class="text-nowrap">{{ privilege.prefix }}</td>
                    <td class="text-nowrap">{{ privilege.expired_at|date('d.m.Y') }}</td>
                    <td>{{ privilege.active ? 'Yes' : 'No' }}</td>
                    <td class="text-nowrap">
                        {{ admin.edit_btn(path_for('admin_players_privileges_edit', {'player': player.id, 'privilege': privilege.id})) }}
                        {{ admin.delete_btn(path_for('admin_players_privileges_delete', {'player': player.id, 'privilege': privilege.id})) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
	{{ paginator.render(pagination) }}
</div>
{% endblock %}
