{% extends 'base.twig' %}

{% block style %}
	<link rel="stylesheet" href="{{ base_url() }}/assets/css/tables.css" />
{% endblock %}

{% block content %}
<div class="uk-card uk-card-default uk-width-1-1@m uk-margin">
	<script src="{{ base_url() }}/assets/js/jquery-ui.min.js"></script>
	<script src="{{ base_url() }}/assets/js/jquery-contenteditable.js"></script>
	<div class="uk-card-header">
		<div class="uk-grid-small uk-flex-middle" uk-grid>
			<div class="uk-width-expand">
				<h1 class="uk-margin-remove-bottom">{{ player.nick }}</h1>
				<p class="uk-text-meta uk-margin-remove-top">
					<i class="fas fa-user-plus" title="STEAM_ID"></i> {{ player.steamid }}
					<br>
					<i class="fas fa-sync-alt" title="IP"></i> {{ player.ip }}
				</p>
			</div>
		</div>
	</div>
	<div class="uk-card-body">
		<div f-table f-divider>
			<ul>
				<li class="uk-width-1-6@m uk-width-1-6@s">Email</li>
				<li class="uk-width-1-6@m uk-width-1-6@s"><time>{{ player.created_at }}</time></li>
			</ul>
			<ul>
				<li class="uk-width-1-6@m uk-width-1-6@s">steamID</li>
				<li class="uk-width-5-6@m uk-width-5-6@s">
					<span
						class="jq-editable"
						data-key="steamid"
						data-url="{{ path_for(constants.accounts.ROUTE_EDIT, {'player': player.id}) }}"
						data-params=""
						data-validate="empty"
					>
						{{ player.steamid }}
					</span>
					{#<i class="fas fa-pen-square"></i>#}
				</li>
			</ul>
		</div>
	</div>
	<script>
		window.CSRF_TOKEN = {{ csrf_token_json() }};
		$(".jq-editable").editable({
			saveDelay: 600, //wait 600ms before calling "save" callback
			autoselect: true, //select content automatically when editing starts
			save: function(event, value) {
				var self = $(this);

				var data = $.extend(window.CSRF_TOKEN, {
					key: self.data('key'),
					value: value.content
				});

				$.post(self.data('url'), data)
					.done(function(data) {
						if (data.success) {
							console.log('success')
						} else {
							console.log('error')
						}
					})
					.fail(function() {
						console.log("error");
					});
			}
		});
	</script>
</div>
{% endblock %}
