{% import 'macros/navbar.twig' as navbar %}
{% import 'macros/head.twig' as head %}
<!doctype html>
<html lang="en">
<head>
    {{ head.get_meta() }}
    <link rel="icon" href="{{ base_url() }}/assets/favicon.ico">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/uikit.css" />
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/fontawesome.min.css" />
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/style.css" />
    <script src="{{ base_url() }}/assets/js/jquery-3.3.1.min.js"></script>
    <script src="{{ base_url() }}/assets/js/uikit.js"></script>
    <script src="{{ base_url() }}/assets/js/Chart.bundle.js"></script>
    {% block style %}{% endblock %}
    {{ head.get_scheme() }}
</head>
<body>
    <div class="uk-container-expand">
        <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
            {{ navbar.mainbar(menu) }}
        </div>
    </div>
    <div class="uk-container" uk-height-viewport="offset-top: true; offset-bottom: true">
        <main role="main" class="container">
            <div class="uk-margin uk-flex uk-flex-right">
                {% block subnav %}{% endblock %}
            </div>
            {% for message in flash_messages.success %}
                <div class="uk-alert-success" uk-alert>
                    <a class="uk-alert-close" uk-close></a>
                    <h5>{{ message }}</h5>
                </div>
            {% endfor %}

            {% for message in flash_messages.error %}
                <div class="uk-alert-danger" uk-alert>
                    <a class="uk-alert-close" uk-close></a>
                    <h5>{{ message }}</h5>
                </div>
            {% endfor %}

            {% block content %}{% endblock %}
        </main>
    </div>
    <footer class="uk-footer">
        <div class="uk-container">
            <div class="uk-flex uk-flex-wrap uk-flex-top uk-flex-between uk-margin-small-bottom">
                <div>
                    <a class="uk-logo" href="{{ path_for('index') }}">
                        <img src="{{ base_url() }}/assets/images/logo.svg" width="100">
                    </a>
                </div>
                <div class="uk-text-right">
                    <a href="" class="uk-icon-button uk-margin-small-right"><i class="fab fa-steam-square fa-lg"></i></a>
                    <a href="" class="uk-icon-button uk-margin-small-right"><i class="fab fa-discord fa-lg"></i></a>
                    <a href="" class="uk-icon-button uk-margin-small-right"><i class="fab fa-facebook-square fa-lg"></i></a>
                </div>
                <div class="uk-width-1-1 uk-text-meta">
                    GameX CMS - это лучшее мобильное решение для управления серверами игрового сообщества Counter-Strike, разработанное в 2019 году.<br>
                    Мы развиваемся каждый день, чтобы наше сообщество было одним из лучших!
                </div>
            </div>
        </div>
        <div class="uk-section uk-section-dark uk-padding-xsmall">
            <div class="uk-container uk-text-small">
                <h6>CMS Software by GameX 2019</h6>
            </div>
        </div>
    </footer>
    {% block modals %}{% endblock %}
    <script>
        $(document).ready(function () {
            $('.lang-select').on('click', 'a', function (e) {
                e.preventDefault();
                e.stopPropagation();
                var lang = $(this).data('lang');
                $.post('{{ path_for('language')}}', {lang: lang})
                    .always(function() {
                        location.reload()
                    });
            });
        });
    </script>
    {% block javascript %}{% endblock %}
</body>
</html>

